<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="Fragments/Head"></head>
<header th:replace="Fragments/Header"></header>
<div class="container">
  <div id="main" style="margin-top: 100px">
    <div class="card l-1" data-aos="zoom-in-left">
      <h1>Edit Existing Prices</h1>
      <form th:replace="Fragments/Forms :: #findExistingPrice"></form>
    </div>
    <hr>
    <div class="card l-1" data-aos="zoom-in-left">
      <h1>Pricing Details</h1>
      <form th:replace="Fragments/Forms :: #EditPrice"></form>
    </div>
  </div>
</div>
<lower th:replace="Fragments/Footer"></lower>