<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-6" style="padding-left: 20px;" id="invite_section" th:fragment="invite_section">
    <div class="section-title" data-aos="zoom-out" >
        <h2>Sharing is Caring</h2>
        <p>Get The Gang Together</p>
    </div>
    <div>
        <div class="card l-1" data-aos="zoom-in-left">
            <form id="inviteUserForm">
                <div class="row">
                    <div class="col-md-3">
                        <label for="inviteUser" class="col-form-label" >Invite User </label>
                        <input type="hidden" id="groupId" name="groupId" th:value="${groupId}">
                    </div>
                    <div class="col-md-5">
                        <input type="text" id="inviteUser" class="form-control" name="inviteUser" placeholder="Enter User Email">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary" onclick="updateInviteUserForm()">Invite User!</button>
                    </div>
                    <div>
                        <p th:if="${Error == 'Not a valid user'}">Sorry, Not a valid user.</a></p> /*Minor changes*/
                    </div>
                </div>
            </form>
        </div>
        <div class="card l-1" data-aos="zoom-in-left" th:fragment="invite_list_fragment" id="invite_list">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Invite Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${inviteUsers}">
                    <th scope="row" th:text="${user.firstname}"></th>
                    <td th:text="${user.email}"></td>
                    <td> Invited </td>
                </tr>
                <tr th:each="user : ${declinedUsers}">
                    <th scope="row" th:text="${user.firstname}"></th>
                    <td th:text="${user.email}"></td>
                    <td> Declined </td>
                </tr>
                </tbody>
            </table>
        </div>

        <script>
            // Update invite list on submit invite form submit
            function updateInviteUserForm() {
                $("#inviteUserForm").one('submit',function(e) {
                    e.preventDefault(); // prevent page refresh

                    // Post entered email to be added to invite list
                    $.post("/invite_list", $(this).serialize()).always(function (fragment) {
                        $("#invite_list").replaceWith(fragment);
                    })
                });
            }

            // Load current invite list
            $(document).ready( function loadInviteUserForm() {
                $.post("/invite_list", {inviteUser: "loading", groupId: $("#groupId").val()}).done(function (fragment) {
                    $("#invite_list").replaceWith(fragment);
                })
            })
        </script>
    </div>
</div>

</body>
</html>