<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-md-6" id="invite_section" style="padding-left: 20px;" th:fragment="invite_section">

    <div class="section-title" data-aos="zoom-out">
        <h2>Sharing is Caring</h2>
        <p>Get The Gang Together</p>
    </div>
    <div>

        <div class="card l-1" data-aos="zoom-in-left">
            <form id="inviteUserForm">
                <!-- New form -->
                <div class="row g-2">
                    <div class="form-floating col-md-8">
                        <input class="form-control" id="inviteUser" name="inviteUser" placeholder=""
                               style="max-width: 100%" type="text">
                        <label class="col-form-label" for="inviteUser">Enter User Email To Invite </label>

                        <div class="invalid-feedback" id="invite_user_form_error"
                             th:fragment="invite_user_form_error_fragment">
                            <span th:if="${Error == 'Not a valid user'}">Sorry, Not a valid user.</span>
                            <span th:if="${Error == 'User is already in group'}">Sorry, User is already in the group.</span>
                        </div>

                        <input id="groupId" name="groupId" th:value="${groupId}" type="hidden">
                    </div>
                    <div class="col-md d-grid">
                        <button class="btn btn-primary" onclick="updateInviteUserForm()" type="submit">Invite User!
                        </button>
                    </div>
                </div>

            </form>
        </div>
        <div class="card l-1" data-aos="zoom-in-left" id="invite_list" th:fragment="invite_list_fragment">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Invite Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${inviteUsers}">
                    <th scope="row" th:text="${user.firstname}"></th>
                    <td th:text="${user.email}"></td>
                    <td> Invited</td>
                </tr>
                <tr th:each="user : ${declinedUsers}">
                    <th scope="row" th:text="${user.firstname}"></th>
                    <td th:text="${user.email}"></td>
                    <td> Declined</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--<p th:if="${Error == 'Not a valid user'}">Sorry, Not a valid user.</p></br>
        <p th:if="${Error == 'User is already in group'}">Sorry, User is already in the group.</p>-->
        <script>
            /**
             * If input has is-invalid remove on text box change
             */
            $("#inviteUser").on('change keydown paste input', function () {
                document.getElementById("inviteUser").classList.remove("is-invalid")
            });

            /**
             * Update invite list on submit invite form submit
             */
            function updateInviteUserForm() {
                // Submit form
                $("#inviteUserForm").one('submit', function (e) {
                    e.preventDefault(); // prevent page refresh

                    // Post entered email to be added to invite list
                    $.post("/invite_list", $(this).serialize()).always(function (fragment) {
                        // Check if the returned fragment contains invite list id
                        if (fragment.includes("invite_list")) {
                            $("#invite_list").replaceWith(fragment);
                        }
                        // Check if the returned fragment contains invite user form error id
                        else if (fragment.includes("invite_user_form_error")) {
                            document.getElementById("inviteUser").classList.add("is-invalid")
                            $("#invite_user_form_error").replaceWith(fragment);
                        }

                    })
                });
            }

            /**
             * Load current invite list
             */
            $(document).ready(function loadInviteUserForm() {
                // Post to receive invite list
                $.post("/invite_list", {inviteUser: "loading", groupId: $("#groupId").val()}).done(function (fragment) {
                    $("#invite_list").replaceWith(fragment);
                })
            })
        </script>
    </div>
</div>

</body>
</html>