<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >

<!-- ======= Head ======= -->
<head th:replace="Fragments/Head"></head>
<!-- ======= Header ======= -->
<header th:replace="Fragments/Header"> </header>
<body>
    <div class="container" style="margin-top: 100px;" th:if="${method != 'post'}">
        <div class="row">
            <div class="col-md-6">
                <h2>Your booking has been confirmed.</h2>
                <p>Yor booking number is: <span th:utext="${addedBooking.getByID}"></span><span></span></p>
                <br><br>
                <!-- Display Booking Details -->
            </div>
        </div>
    </div>
<!-- ======= Footer ======= -->
<lower th:replace="Fragments/Footer"> </lower>
</body>
<script th:inline="javascript"></script>
</html>