<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<head th:replace="Fragments/Head"></head>
<!-- ======= Header ======= -->
<header th:replace="Fragments/Header"></header>
<div th:replace="Fragments/FormError" ></div>
<body>
<!-- ======= Hero Section ======= -->
<main id="main">
    <!-- ======= Services Section ======= -->
    <section class="services" id="booking">
        <div class="container" style="margin-top: 100px;">
            <div class="section-title" data-aos="zoom-out" style="margin-top: 25px">
                <h2>You're on your way!</h2>
                <h3>Booking Confirmation</h3>
            </div>
            <div class="row">
                <h2>Your flight booking has been confirmed. Your booking number is: <b><span th:text="${confirmationID}"></span></b></h2>
                <br>
                <br>
                <br>
                <!-- Display Booking Details -->
                <div>
                    <h3>Booking Details</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Flight Number</th>
                            <th scope="col">Departure Date</th>
                            <th scope="col">Flight</th>
                            <th scope="col">Seats</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="bd : ${booking}">
                            <tr>
                                <th scope="row" th:text="${bd.getFlight().getFlightNumber()}"></th>
                                <td th:text="${bd.getDepartureDate()}"></td>
                                <td th:utext="'<b>' + ${bd.getFlight().getDepartureName()} + ' to ' + ${bd.getFlight().getDestinationName()} + '</b>'"></td>
                                <td th:text="${bd.getTotalSeats()}"></td>
                                <td th:text="'$' + ${bd.getPrice()}"></td>
                            </tr>
                            <div th:each="t, i : ${bd.getTraveller()}">
                                <div th:if="${i.index == 0}">
                                    <tr>
                                        <th scope="row" th:text="'Passengers :'"></th>
                                        <td th:text="${t.getSeat()}"></td>
                                        <td th:text="${t.getFirstName() + ' ' + t.getLastName()}"></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </div>
                                <div th:if="${i.index != 0}">
                                    <tr>
                                        <th scope="row"></th>
                                        <td th:text="${t.getSeat()}"></td>
                                        <td th:text="${t.getFirstName() + ' ' + t.getLastName()}"></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </div>
                            </div>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- ======= Footer ======= -->
        <lower th:replace="Fragments/Footer"></lower>
    </section>
</main>
</body>
<script th:inline="javascript"></script>
</html>
