<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="Fragments/Head"> </head>
<head th:replace="Fragments/Header"> </head>
<div class="container">
    <main id="main" style="margin-top: 100px" >
        <p th:text="'Welcome back ' + ${admin.getFirstName()}"></p>
        <div th:if="${admin.getCompany()} == 'Flightpub'">
            <h2>Restrict/Unrestrict Covid Location</h2>
            <form th:replace="Fragments/Forms :: #covidRestrictedLocationForm"> </form>
        </div>
        <div>
            <h2>Holiday Packages</h2>
        </div>
    </main>
</div>

<lower th:replace="Fragments/Footer"> </lower>