<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="Fragments/Head"> </head>
<head th:replace="Fragments/Header"> </head>
<div class="container">
    <main id="main" style="margin-top: 100px" >
        <h1 th:text="'Welcome back ' + ${admin.getFirstName()}"></h1>
        <div th:if="${admin.getCompany()} == 'Flightpub'">
            <h2>Restrict/Unrestrict Covid Location</h2>
            <form th:replace="Fragments/Forms :: #covidRestrictedLocationForm"> </form>
        </div>
        <br>
        <h2>Most Popular Wish List Destinations</h2>
        <div style="overflow:scroll; height:300px;">
            <div th:each="wli : ${wish}">
                <p th:text="${wli.getDestinationID()}"></p>
                <p th:text="${wli.getUserID()}"></p>
                <p th:text="${wli.getWLID()}"></p>
            </div>
        </div>
        <br>
        <div>
            <h2>Holiday Packages</h2>
            <form th:replace="Fragments/Forms :: #holidayPackageForm"> </form>
        </div>
        <br>
    </main>
</div>

<lower th:replace="Fragments/Footer"> </lower>