<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/Head"> </head>
<header th:replace="Fragments/Header"> </header>
<body>

<!-- ======= Hero Section ======= -->

<main id="main">
    <!-- ======= Services Section ======= -->

<section id = "recommendation" class = "services">
    <div class="container">
        <style>
            input, select{
                width: 45%;
                max-width: 250px;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 10px;
            }
            .btn-search{
                margin-top: -3px;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 10px;
            }
        </style>

        <div class="section-title" data-aos="zoom-out" style="margin-top: 25px">
            <h2>Hey There</h2>
            <p th:text="'Welcome back ' + ${usr.getFirstname()}"></p>
        </div>
        <div class="row icon-box" data-aos="zoom-in-right" >
            <h2>Update Your Account!</h2>
            <form th:replace="Fragments/Forms :: #updateUser"> </form>
        </div>
        <div th:if="${bookings != null}">
            <hr>
            <div class="row icon-box" data-aos="zoom-in-left" >
                <h2>Your Bookings!</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Departure Date</th>
                        <th scope="col">Dep. City</th>
                        <th scope="col">Dest. City</th>
                        <th scope="col">Airline</th>
                        <th scope="col">Flight Info</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="Booking : ${bookings}", th:with="flight = ${flights.getById(Booking.getFlightID())}">
                        <th scope="row" th:text="${flight.getDepartureTime()}">18/05/2022</th>
                        <td th:text="${flight.getOriginID()}"></td>
                        <td th:text="${flight.getDestinationID()}"></td>
                        <td th:text="${flight.getAirline()}"></td>
                        <td><a th:href="'/flight?id=' + ${Booking.getFlightID()}" class="btn btn-link">View Flight</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
            <hr /><Br><Br>
        <div class="row">
            <div class="col-md-6" style="padding-left: 20px; ">
                <div class="section-title" data-aos="zoom-out" >
                    <h2>Reconnect</h2>
                    <p>Your Previous Flights</p>
                </div>
                <div class="card l-1" data-aos="zoom-in-left">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Dep. City</th>
                            <th scope="col">Dest. City</th>
                            <th scope="col">Airline</th>
                            <th scope="col">Rebook</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">14/05/2022</th>
                            <td>Melbourne</td>
                            <td>Sydney</td>
                            <td>QANTAS</td>
                            <td><a href="/static#search" class="btn btn-link">Find Similar</a></td>
                        </tr>
                        <tr>
                            <th scope="row">09/04/2022</th>
                            <td>Sydney</td>
                            <td>Melbourne</td>
                            <td>QANTAS</td>
                            <td><a href="/static#search" class="btn btn-link">Find Similar</a></td>
                        </tr>
                        <tr>
                            <th scope="row">23/02/2022</th>
                            <td>Hobart</td>
                            <td>Newcastle</td>
                            <td>QANTAS</td>
                            <td><a href="/static#search" class="btn btn-link">Find Similar</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6" style="padding-left: 20px;" id="groups">
                <div class="section-title" data-aos="zoom-out" >
                    <h2>Sharing is Caring</h2>
                    <p>Your Groups</p>
                </div>
                <div class="card l-1" data-aos="zoom-in-left">
                    <form id="updateUser" name="registerUser" th:action="@{/group/add}" th:object="${NewGroup}" method="post">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="groupName" id="nameLabel" class="col-form-label" >Group Name</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" id="groupName" class="form-control" name="groupName" placeholder="Enter Group Name">
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary btn-search">Create Group!</button>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="container card l-1" data-aos="zoom-in-left">
                    <div class="text-center">
                        <h2> Joined Groups </h2>
                    </div>
                    <table class="table">
                        <thead>
                        <tr th:if="${!groups.isEmpty()}">
                            <th scope="col">Capacity</th>
                            <th scope="col">Name</th>
                            <th scope="col">View</th>
                        </tr>
                        <tr th:if="${groups.isEmpty()}">
                            <th class="text-center" >No groups found</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="group : ${groups}">
                            <th scope="row" > TODO</th>
                            <td th:text="${group.getGroupName}"></td>
                            <td><a th:href="@{/groups(groupId=${group.getId()})}" class="btn btn-link">Manage</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="container card l-1" data-aos="zoom-in-left">
                    <div class="text-center">
                        <h2> Group Invites </h2>
                    </div>

                    <table class="table">
                        <thead>
                        <tr th:if="${!invitedGroups.isEmpty()}">
                            <th scope="col">Capacity</th>
                            <th scope="col">Name</th>
                            <th scope="col">Invite Action</th>
                        </tr>
                        <tr th:if="${invitedGroups.isEmpty()}">
                            <th class="text-center">No invites found</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="group : ${invitedGroups}">
                            <th scope="row" > TODO</th>
                            <td th:text="${group.getGroupName}"></td>
                            <td>
                                <a th:href="@{/groups(groupId=${group.getId()})}" class="btn btn-primary">Accept Invite</a>
                                <a th:href="@{/groups(groupId=${group.getId()})}" class="btn btn-secondary">Decline Invite</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

<hr />
<div class="section-title" id="discover" data-aos="zoom-out"  style="margin-top: 25px">
    <h2>Discover</h2>
    <p>Just For You</p>
</div>
<div class="row icon-box" data-aos="zoom-in-left">

    <div class="row" style="padding-top: 10px;">
        <div class="col-sm-3" th:each="flight : ${reco}"  >
            <div class="card l-1"  style="padding: 10px 0 0 20px;" th:with="img=${flight.getDestinationID()} + '.jpg'">
                <img th:src="@{/assets/img/{image}(image=${img})}" style="width: 95%;margin-bottom:10px; border-radius: 10px"/>
                <h2 style="font-size: 1.5em" th:text="${flight.getOriginID()} + ' to ' + ${flight.getDestinationID()}"></h2>
                <p><em><span th:text="'Departs ' + ${flight.getOriginID()} + ': '"></span><span th:text="${flight.getDepartureTime()}"></span><br>
                    <span th:text="'Arrives in ' + ${flight.getDestinationID()} + ': '"></span><span th:text="${flight.getArrivalTime()}"></span><br>
                    Airline: <span th:text="${flight.getAirline()}"></span></em></p>
                <a th:href="'/flight?id=' + ${flight.getFlightID()}" class="btn btn-primary">View Flight</a>&nbsp;&nbsp;&nbsp;&nbsp;

                <a th:href="'/flight?id=' + ${flight.getFlightID()}" class="btn btn-link">Quick Book</a><br><br>
            </div>
        </div>
    </div>
    <div th:if="${reco} == 0">
        <p>There are currently no recomendation</p>
    </div>
    <div>
        <br>
        <em style="font-size: 0.7em">What is 'Quick Book'? Flights that are similar to your regular bookings can be booked & paid for in one click, when you are using your regular device.</em>
    </div>

        <hr />
</div>
</div>
</section><!-- End Cta Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>

        <div class="row mt-5">

            <div class="col-lg-4" data-aos="fade-right">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>123 Newcastle Street, Newcastle 2300</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+61 2 123 456 78</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->
<!-- ======= Footer ======= -->
<lower th:replace="Fragments/Footer"> </lower>
<!-- Template Main JS File -->
</main>
</body>

</html>
