<lower xmlns:th="http://www.w3.org/1999/xhtml">
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Flight Pub</h3>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Flight Pub</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/aos/aos.js}"></script>
  <script src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
  <script src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
  <script src="@{/assets/vendor/php-email-form/validate.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</lower>

