<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<form id="login" th:action="@{/login}" th:object="${LoginRequest}" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name ="password" class="form-control" id="exampleInputPassword1">
    </div>
    <p style="color: red" th:if="${valid} != null">Username & Password did not match a valid account. Please try again.</p>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form id="search" th:action="@{/search}" th:object="${BasicSearch}" method="post">
    <input type="text" id="origin" name="originIn" placeholder="Fly From">
    <input type="text" id="destination" name="destinationIn" placeholder="Fly To">
    <label for="start" id="startLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Earliest Flight Date</label>
    <input type="date" id="start" name="start"
           th:value="${today}"
           th:min="${today}" th:max="${max}">
    <label for="end" id="endLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Latest Flight Date</label>
    <input type="date" id="end" name="end"
           th:value="${today}"
           th:min="${today}" th:max="${max}">


    <button type="submit" class="btn btn-primary btn-search" >Find Flights!</button><br>
    <input type="checkbox" name="nodest" id="nodest" style="width: 50px;"  onclick="allDest()">
    <label for="nodest">Show all destinations</label>
    <input type="checkbox" name="exactdate" id="exactdate" style="width: 50px;" onclick="adjustDate()">
    <label for="exactdate">Use Exact Date</label>
    <input type="checkbox" name="searchByArrival" id="searchByArrival" style="width: 50px;" onclick="adjustDate()">
    <label for="searchByArrival">Search by Arrival Times</label>

    <script>
        function allDest(){

            let val = document.getElementById("nodest");

            if(val.checked == true){
                document.getElementById("destination").disabled = true;
                document.getElementById("destination").value = "Show All";
            }else{
                document.getElementById("destination").disabled = false;
                document.getElementById("destination").value = "";
            }
        }
        function adjustDate(){
            let exact = document.getElementById("exactdate").checked;
            let arrival = document.getElementById("searchByArrival").checked;

            if((exact == true)&&(arrival == true)){
                document.getElementById("end").disabled = true;
                document.getElementById("end").value = "--/--/----";
                document.getElementById("startLabel").innerHTML = "Arrival Date";
                document.getElementById("endLabel").innerHTML = "";
            }else if((exact == true)&&(arrival == false)){
                document.getElementById("end").disabled = true;
                document.getElementById("end").value = "--/--/----";
                document.getElementById("startLabel").innerHTML = "Flight Date";
                document.getElementById("endLabel").innerHTML = "";
            }else if((exact == false)&&(arrival == true)){
                document.getElementById("end").disabled = false;
                document.getElementById("end").value = "";
                document.getElementById("startLabel").innerHTML = "Earliest Arrival Date";
                document.getElementById("endLabel").innerHTML = "Latest Arrival Date";
            }else{
                document.getElementById("end").disabled = false;
                document.getElementById("end").value = "";
                document.getElementById("startLabel").innerHTML = "Earliest Flight Date";
                document.getElementById("endLabel").innerHTML = "Latest Flight Date";
            }
        }
    </script>
</form>

<form id="registerUser" name="registerUser" onsubmit="return validateRegister()" th:action="@{/RegisterUser}" th:object="${UserRegister}" method="post">
    <input type="email" id="email" class="form-control" name="email" placeholder="Email"><br>
    <input type="text" id="firstname" class="form-control" name="firstname" placeholder="Firstname"><br>
    <input type="text" id="address" class="form-control" name="address" placeholder="Address"><br>

    <label id="airportlbl" class="form-label" name="airportlbl" >Preferred Airport</label><br>
    <select name="prefAirport" id="prefAirport" class="form-control">
        <option th:each="Location: ${locs}" th:value="${Location.getLocationID()}" th:text="${Location.getLocationID()} + ' - ' + ${Location.getLocation()}"></option>
    </select><br>

    <input type="password" id="password" class="form-control" name="password" placeholder="Password"><br>
    <input type="password" id="confirmpassword" class="form-control" name="confirmpassword" placeholder="Confirm Password"><br>
    <button type="submit" class="btn btn-primary btn-search">Create Account!</button>

    <script>
       function validateRegister() {
            let f =  document.forms["registerUser"];
            let x = true;

             if(f["email"].value == ""){ x = false; }
             if(f["firstname"].value == ""){ x = false; }
             if(f["address"].value == ""){ x = false; }
             if(f["password"].value == ""){ x = false; }
             if(f["confirmpassword"].value == ""){ x = false; }

              if (x == "") {
                alert("Please fill in all fields");
                return false;
              }
              else if(!(f["password"].value === f["confirmpassword"].value)){
                alert("Passwords do not match");
                return false;
              }
              else{
                return true;
              }
        }
    </script>
</form>

<!--REGISTER USER--------------------------------------------------------------------------------------------------------------------------------------->
<form id="updateUser" name="registerUser" onsubmit="return validateRegister()" th:action="@{/RegisterUser}" th:object="${UserRegister}" method="post">
    <div class="row">
        <div class="col-md-4">
            <label id="emaillbl" class="form-label" name="airportlbl" >Email</label><br>
            <input type="email" id="email" class="form-control" name="email" th:value="${usr.getEmail()}"><br>
            <label id="namelbl" class="form-label" name="airportlbl" >First Name</label><br>
            <input type="text" id="firstname" class="form-control" name="firstname"  th:value="${usr.getFirstname()}"><br>
        </div>
        <div class="col-md-4">
            <label id="passwordlbl" class="form-label" name="airportlbl" >Password</label><br>
            <input type="password" id="password" class="form-control" name="password" placeholder="Password"  ><br>
            <input type="password" id="confirmpassword" class="form-control" name="confirmpassword" ><br>
        </div>
        <div class="col-md-4">
            <label id="airportlbl" class="form-label" name="airportlbl" >Preferred Airport</label><br>
            <select name="prefAirport" id="prefAirport" class="form-control">
                <option th:each="Location: ${locs}" th:value="${Location.getLocationID()}" th:text="${Location.getLocationID()} + ' - ' + ${Location.getLocation()}"></option>
            </select><br><button type="submit" class="btn btn-primary btn-search">Update Account!</button>
        </div>

    </div>



    <script>
        function validateRegister() {
            let f =  document.forms["registerUser"];
            let x = true;

            if(f["email"].value == ""){ x = false; }
            if(f["firstname"].value == ""){ x = false; }
            if(f["password"].value == ""){ x = false; }
            if(f["confirmpassword"].value == ""){ x = false; }

            if (x == "") {
                alert("Please fill in all fields");
                return false;
            }
            else if(!(f["password"].value === f["confirmpassword"].value)){
                alert("Passwords do not match");
                return false;
            }
            else{
                return true;
            }
        }
    </script>
</form>
<!--Advanced Search--------------------------------------------------------------------------------------------------------------------------------------->
<form id="advancedSearch" th:action="@{/advancedSearch}" th:object="${BasicSearch}" method="post">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="flightOrigin" class="form-control" name="originIn" th:value="${search.getOriginIn()}"><br>
            <input type="text" id="flightDestination" class="form-control" name="destinationIn" th:value="${search.getDestinationIn()}"><br>
        </div>
        <div class="col-md-4">
            <label for="earliest" id="earliestLabel" class="form-label"  style="font-size: 0.65em; margin-left: 10px; position: absolute;">Earliest Flight</label>
            <input type="date" id="earliest" class="form-control" name="start"
                   th:value="${search.getStart()}"
                   th:min="${today}" th:max="${max}"><br>
            <label for="earliest" id="latestLabel" class="form-label"  style="font-size: 0.65em; margin-left: 10px; position: absolute;">Latest Flight</label>
            <input type="date" id="latest" class="form-control" name="end"
                   th:value="${search.getEnd()}"
                   th:min="${today}" th:max="${max}"><br>
        </div>
        <div class="col-md-4">
        </div><hr>

        <div class="col-md-4">
            <label for="maxPrice" class="form-label">Max-Price</label>
            <br>
            <input type="number" id="maxPrice" class="form-control" name="maxPrice" placeholder="Max" value="12000" min="0" max="12000"><br>
        </div>
        <div class="col-md-4">

            <label for="seats" class="form-label">Number of Seats</label>
            <input type="number" id="seats" class="form-control" name="seats" min="1" value="1"><br><br>



        </div>
        <div class="col-md-4">
            <label for="rating" class="form-label">Minimum Ratings
            </label>&nbsp;
            <output>
                0</output><br>
            <input type="range" id="rating" class="form-control" name="rating" min="0" max="5" value="0" oninput="this.previousElementSibling.value = this.value"><br>
        </div><hr>



        <div class="col-md-8">
            <input type="checkbox" name="nodest" id="nodestAdvanced" style="width: 50px;" onclick="allDest()">
            <label for="nodestAdvanced" class="form-label">Show all destinations</label>
            <input type="checkbox" name="exactdate" id="exactdateAdvanced" style="width: 50px;" onclick="adjustDate()">
            <label for="exactdateAdvanced" class="form-label">Use Exact Date</label>

            <input type="checkbox" name="directFlight" id="directFlight" style="width: 50px;" o="">
            <label for="directFlight" class="form-label">Direct flight Only</label>

            <input type="checkbox" name="searchByArrival" id="searchByArrivalAdvanced" style="width: 50px;" onclick="adjustDate()">
            <label for="searchByArrivalAdvanced" class="form-label">Search by Arrival Times</label>

        </div>
        <div class="col-md-4">
            <button style="margin-top: -5px" type="submit" class="btn btn-primary btn-search">Find Flights!</button>
        </div>
        <br>
    </div>
    </div>
    <script>
        function allDest(){

            let val = document.getElementById("nodestAdvanced");

            if(val.checked == true){
                document.getElementById("flightDestination").disabled = true;
                document.getElementById("flightDestination").value = "Show All";
            }else{
                document.getElementById("flightDestination").disabled = false;
                document.getElementById("flightDestination").value = "";
            }
        }
        function adjustDate(){
            let exact = document.getElementById("exactdateAdvanced").checked;
            let arrival = document.getElementById("searchByArrivalAdvanced").checked;

            if((exact == true)&&(arrival == true)){
                document.getElementById("latest").disabled = true;
                document.getElementById("latest").value = "--/--/----";
                document.getElementById("earliestLabel").innerHTML = "Arrival Date";
                document.getElementById("latestLabel").innerHTML = "";
            }else if((exact == true)&&(arrival == false)){
                document.getElementById("latest").disabled = true;
                document.getElementById("latest").value = "--/--/----";
                document.getElementById("earliestLabel").innerHTML = "Flight Date";
                document.getElementById("latestLabel").innerHTML = "";
            }else if((exact == false)&&(arrival == true)){
                document.getElementById("latest").disabled = false;
                document.getElementById("latest").value = "";
                document.getElementById("earliestLabel").innerHTML = "Earliest Arrival Date";
                document.getElementById("latestLabel").innerHTML = "Latest Arrival Date";
            }else{
                document.getElementById("latest").disabled = false;
                document.getElementById("latest").value = "";
                document.getElementById("earliestLabel").innerHTML = "Earliest Flight Date";
                document.getElementById("latestLabel").innerHTML = "Latest Flight Date";
            }
        }
    </script>
</form>

<!-- Flight management form for finding existing flights --------------------------------------------------------------------------------->
<form id="findExisting" th:action="@{/admin/flight/management}" th:object="${Flight}" method="post">
    <label for="flightID" id="flightIDLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Flight ID: </label>
    <input type="text" id="flightID" name="flightID">
    <button type="submit" class="btn btn-primary btn-search" >Find Flight</button>
</form>

<!-- Flight management form for creating/editing flights -------------------------------------------------------------------------------->
<form id="EditFlight" th:action="@{/flight/add}" th:object="${Flight}" method="post">
    <label for="flightID" id="flightIDLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Flight ID: </label>
    <input type="text" id="flightID" name="flightID" th:value="${flight.getFlightID()}">
    <label for="originID" id="originIDLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Origin: </label>
    <input type="text" id="originID" name="originID" th:value="${flight.getOriginID()}">
    <label for="destinationID" id="destinationIDLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Destination: </label>
    <input type="text" id="destinationID" name="destinationID" th:value="${flight.getDestinationID()}">
    <label for="departure" id="departureLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Departure</label>
    <input type="datetime-local" id="departure" name="departure" th:value="${flight.getDepartureDateTime()}">
    <label for="arrival" id="arrivalLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Arrival</label>
    <input type="datetime-local" id="arrival" name="arrival" th:value="${flight.getArrivalDateTime()}">
    <label for="flightCode" id="flightCodeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Flight Code: </label>
    <input type="text" id="flightCode" name="flightCode" th:value="${flight.getFlightCode()}">
    <label for="airline" id="airlineLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Airline: </label>
    <input type="text" id="airline" name="airline" th:value="${flight.getAirline()}">
    <label for="ticketPrice" id="ticketPriceLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Ticket Price: </label>
    <input type="number" id="ticketPrice" name="ticketPrice" th:value="${flight.getTicketPrice()}">
    <label for="bookedSeats" id="bookedSeatsLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Booked Seats: </label>
    <input type="number" id="bookedSeats" name="bookedSeats" th:value="${flight.getBookedSeats()}">
    <label for="maxSeats" id="maxSeatsLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Max Seats: </label>
    <input type="number" id="maxSeats" name="maxSeats" th:value="${flight.getMaxSeats()}">
    <label for="rating" id="ratingLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Rating: </label>
    <input type="number" id="rating" name="rating" th:value="${flight.getRating()}">
    <label for="promoted" id="promotedLabel">Promoted: </label>
    <input type="checkbox" id="promoted" name="promoted">
    <button type="submit" class="btn btn-primary btn-search" >Save Flight</button>
</form>

<!-- Recommendation location select dropdown ------------------------------------------------------------------------------------------->
<form id="recommendationLocationForm" th:action="@{/#recommendation}" th:object="${Recommendation}" method="post">
    <span>Departure Location: </span><select class="form-select" name="recommendationLocation" id="recommendationLocation" onchange="this.form.submit()">
        <option
                th:each="location : ${recommendationLocation}"
                th:value="${location.locationID}"
                th:text="${location.locationID} + ' - ' + ${location.location}" th:selected="(${location.locationID} == ${currentLocation})">
        </option>
    </select>
</form>
</html>

<!-- Credit Card Form -------------------------------------------------------------------------------------------------------------------->
<!-- <form id="payment" th:action="@{/bookingConfirmation}" method="post"> -->
<form id="payment" th:action="@{/checkout}">
    <div>
    <!-- Card Number [Input] -->
    <label for="card-number">Card Number</label>
    <input type="text" id="card-number" class="form-control" name="card-number" pattern="[0-9\s] {13,19}" maxlength="19" placeholder="XXXX XXXX XXXX XXXX"><br>
    <label for="card-name">Name on card</label>
    <input type="text" class="form-control" id="card-name" placeholder="John J Smith" required><br>
    </div>

    <div>
    <!-- Card Expiry [Input] -->
    <label for="card-expiry">Card Expiry</label>
    <input type="number" id="card-expiry" class="form-control" name="card-number" placeholder="02/22" maxlength="4"><br>
    <!-- Card Security Code [Input] -->
    <label for="card-security">3-digit Security Code</label>
    <input type="number" id="card-security" class="form-control" name="card-security" placeholder="XXX" maxlength="3"><br>
    </div>
    <!-- Submit Payment Request -->
    <a href="/bookingConfirmation" class="btn btn-success" onclick="validateCreditCard()" style="max-width: 200px">Pay Now</a>
</form>