<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> </html>
<form id="login" th:action="@{/login}" th:object="${LoginRequest}" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name ="password" class="form-control" id="exampleInputPassword1">
    </div>
    <p style="color: red" th:if="${valid} != null">Username & Password did not match a valid account. Please try again.</p>

    <input type="hidden" id="redirect" name="redirect" th:value="${redirect}">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form id="search" th:action="@{/search}" th:object="${BasicSearch}" method="post">
    <datalist id="locationList">
        <option
                th:each="location : ${searchLocation}"
                th:value="${location.location}">
        </option>
    </datalist>
    <div class="row g-2">
        <div class="form-floating col-md">

            <input class="form-control" list="locationList" id="origin" name="originIn" placeholder="Departure Location....">

            <label for="origin">Fly From</label>

        </div>
        <div class="form-floating col-md">
            <input class="form-control" list="locationList" id="destination" name="destinationIn" placeholder="Departure Location....">

            <label for="destination">Fly To</label>
        </div>

        <div class="form-floating col-md">
            <input class="form-control" type="date" id="start" name="start"
                   th:value="${today}"
                   th:min="${today}" th:max="${max}">
            <label for="start" id="startLabel">Earliest Flight Date</label>
        </div>
        <div class="form-floating col-md">
            <input class="form-control" type="date" id="end" name="end"
                   th:value="${today}"
                   th:min="${today}" th:max="${max}">
            <label for="end" id="endLabel">Latest Flight Date</label>
        </div>

        <div class="col-md d-grid">
            <button type="submit" class="btn btn-primary start-loading btn-search" >Find Flights!</button>
        </div>
    </div>
    <div>
        <div class="form-group form-check-inline">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="nodest" id="nodest" onclick="allDest()">
                <label class="form-check-label" for="nodest">Show all destinations</label>
            </div>
        </div>
        <div class="form-group form-check-inline">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="exactdate" id="exactdate" onclick="adjustDate()">
                <label class="form-check-label" for="exactdate">Use Exact Date</label>
            </div>
        </div>
        <div class="form-group form-check-inline">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="searchByArrival" id="searchByArrival" onclick="adjustDate()">
                <label class="form-check-label" for="searchByArrival">Search by Arrival Times</label>
            </div>
        </div>
    </div>

    <script>
        function allDest(){

            let val = document.getElementById("nodest");

            if(val.checked == true){
                document.getElementById("destination").disabled = true;
                document.getElementById("destination").value = "Show All";
            }else{
                document.getElementById("destination").disabled = false;
                document.getElementById("destination").value = "";
            }
        }
        function adjustDate(){
            let exact = document.getElementById("exactdate").checked;
            let arrival = document.getElementById("searchByArrival").checked;

            if((exact == true)&&(arrival == true)){
                document.getElementById("end").disabled = true;
                document.getElementById("end").value = "--/--/----";
                document.getElementById("startLabel").innerHTML = "Arrival Date";
                document.getElementById("endLabel").innerHTML = "";
            }else if((exact == true)&&(arrival == false)){
                document.getElementById("end").disabled = true;
                document.getElementById("end").value = "--/--/----";
                document.getElementById("startLabel").innerHTML = "Flight Date";
                document.getElementById("endLabel").innerHTML = "";
            }else if((exact == false)&&(arrival == true)){
                document.getElementById("end").disabled = false;
                document.getElementById("end").value = "";
                document.getElementById("startLabel").innerHTML = "Earliest Arrival Date";
                document.getElementById("endLabel").innerHTML = "Latest Arrival Date";
            }else{
                document.getElementById("end").disabled = false;
                document.getElementById("end").value = "";
                document.getElementById("startLabel").innerHTML = "Earliest Flight Date";
                document.getElementById("endLabel").innerHTML = "Latest Flight Date";
            }
        }
    </script>
</form>

<form id="registerUser" name="registerUser" onsubmit="return validateRegister()" th:action="@{/RegisterUser}" th:object="${UserRegister}" method="post">
    <input type="email" id="email" class="form-control" name="email" placeholder="Email"><br>
    <input type="text" id="firstname" class="form-control" name="firstname" placeholder="Firstname"><br>
    <input type="text" id="address" class="form-control" name="address" placeholder="Address"><br>

    <label id="airportlbl" class="form-label" name="airportlbl" >Preferred Airport</label><br>
    <select name="prefAirport" id="prefAirport" class="form-control">
        <option th:each="Location: ${locs}" th:value="${Location.getLocationID()}" th:text="${Location.getLocationID()} + ' - ' + ${Location.getLocation()}"></option>
    </select><br>

    <input type="password" id="password" class="form-control" name="password" placeholder="Password"><br>
    <input type="password" id="confirmpassword" class="form-control" name="confirmpassword" placeholder="Confirm Password"><br>
    <button type="submit" class="btn btn-primary btn-search">Create Account!</button>

    <script>
       function validateRegister() {
            let f =  document.forms["registerUser"];
            let x = true;

             if(f["email"].value == ""){ x = false; }
             if(f["firstname"].value == ""){ x = false; }
             if(f["address"].value == ""){ x = false; }
             if(f["password"].value == ""){ x = false; }
             if(f["confirmpassword"].value == ""){ x = false; }

              if (x == "") {
                alert("Please fill in all fields");
                return false;
              }
              else if(!(f["password"].value === f["confirmpassword"].value)){
                alert("Passwords do not match");
                return false;
              }
              else{
                return true;
              }
        }
    </script>
</form>

<!--REGISTER USER--------------------------------------------------------------------------------------------------------------------------------------->
<form id="updateUser" name="registerUser" onsubmit="return validateRegister()" th:action="@{/RegisterUser}" th:object="${UserRegister}" method="post">
    <div class="row">
        <div class="col-md-4">
            <label id="emaillbl" class="form-label" name="airportlbl" >Email</label><br>
            <input type="email" id="email" class="form-control" name="email" th:value="${usr.getEmail()}"><br>
            <label id="namelbl" class="form-label" name="airportlbl" >First Name</label><br>
            <input type="text" id="firstname" class="form-control" name="firstname"  th:value="${usr.getFirstname()}"><br>
        </div>
        <div class="col-md-4">
            <label id="passwordlbl" class="form-label" name="passlbl" >Password</label><br>
            <input type="password" id="password" class="form-control" name="password" placeholder="Password"  ><br>
            <label id="confirmpasswordlbl" class="form-label" name="conpasslbl" >Confirm Password</label><br>
            <input type="password" id="confirmpassword" class="form-control" name="confirmpassword" ><br>
        </div>
        <div class="col-md-4">
            <label id="airportlbl" class="form-label" name="airportlbl" >Preferred Airport</label><br>
            <select name="prefAirport" id="prefAirport" class="form-control">
                <option th:each="Location: ${locs}" th:value="${Location.getLocationID()}" th:text="${Location.getLocationID()} + ' - ' + ${Location.getLocation()}"></option>
            </select><br><button type="submit" class="btn btn-primary btn-search">Update Account!</button>
        </div>

    </div>



    <script>
        function validateRegister() {
            let f =  document.forms["registerUser"];
            let x = true;

            if(f["email"].value == ""){ x = false; }
            if(f["firstname"].value == ""){ x = false; }
            if(f["password"].value == ""){ x = false; }
            if(f["confirmpassword"].value == ""){ x = false; }

            if (x == "") {
                alert("Please fill in all fields");
                return false;
            }
            else if(!(f["password"].value === f["confirmpassword"].value)){
                alert("Passwords do not match");
                return false;
            }
            else{
                return true;
            }
        }
    </script>
</form>
<!--Advanced Search--------------------------------------------------------------------------------------------------------------------------------------->
<form id="advancedSearch" th:action="@{/advancedSearch}" th:object="${BasicSearch}" method="post">
    <datalist id="locations">
        <option
                th:each="location : ${searchLocation}"
                th:value="${location.location}">
        </option>
    </datalist>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="flightOrigin" class="form-control" name="originIn" th:value="${search.getOriginIn()}" list="locations"><br>

            <input type="text" id="flightDestination" class="form-control" name="destinationIn" th:value="${search.getDestinationIn()}" list="locations"><br>
        </div>
        <div class="col-md-4">
            <label for="earliest" id="earliestLabel" class="form-label"  style="font-size: 0.65em; margin-left: 10px; position: absolute;">Earliest Flight</label>
            <input type="date" id="earliest" class="form-control" name="start"
                   th:value="${search.getStart()}"
                   th:min="${today}" th:max="${max}"><br>
            <label for="earliest" id="latestLabel" class="form-label"  style="font-size: 0.65em; margin-left: 10px; position: absolute;">Latest Flight</label>
            <input type="date" id="latest" class="form-control" name="end"
                   th:value="${search.getEnd()}"
                   th:min="${today}" th:max="${max}"><br>
        </div>
        <div class="col-md-4">
        </div><hr>

        <div class="col-md-4">
            <label for="maxPrice" class="form-label">Max-Price</label>
            <br>
            <input type="number" id="maxPrice" class="form-control" name="maxPrice" placeholder="Max" value="12000" min="0" max="12000"><br>
        </div>
        <div class="col-md-4">

            <label for="seats" class="form-label">Number of Seats</label>
            <input type="number" id="seats" class="form-control" name="seats" min="1" value="1"><br><br>



        </div>
        <div class="col-md-4">
            <label for="rating" class="form-label">Minimum Ratings
            </label>&nbsp;
            <output>
                0</output><br>
            <input type="range" id="rating" class="form-control" name="rating" min="0" max="5" value="0" oninput="this.previousElementSibling.value = this.value"><br>
        </div><hr>



        <div class="col-md-8">
            <input type="checkbox" name="nodest" id="nodestAdvanced" style="width: 50px;" onclick="allDest()">
            <label for="nodestAdvanced" class="form-label">Show all destinations</label>
            <input type="checkbox" name="exactdate" id="exactdateAdvanced" style="width: 50px;" onclick="adjustDate()">
            <label for="exactdateAdvanced" class="form-label">Use Exact Date</label>

            <input type="checkbox" name="directFlight" id="directFlight" style="width: 50px;" o="">
            <label for="directFlight" class="form-label">Direct flight Only</label>

            <input type="checkbox" name="searchByArrival" id="searchByArrivalAdvanced" style="width: 50px;" onclick="adjustDate()">
            <label for="searchByArrivalAdvanced" class="form-label">Search by Arrival Times</label>

        </div>
        <div class="col-md-4">
            <button style="margin-top: -5px" type="submit" class="btn btn-primary start-loading btn-search">Find Flights!</button>
        </div>
        <br>
    </div>
    </div>
    <script>
        function allDest(){

            let val = document.getElementById("nodestAdvanced");

            if(val.checked == true){
                document.getElementById("flightDestination").disabled = true;
                document.getElementById("flightDestination").value = "Show All";
            }else{
                document.getElementById("flightDestination").disabled = false;
                document.getElementById("flightDestination").value = "";
            }
        }
        function adjustDate(){
            let exact = document.getElementById("exactdateAdvanced").checked;
            let arrival = document.getElementById("searchByArrivalAdvanced").checked;

            if((exact == true)&&(arrival == true)){
                document.getElementById("latest").disabled = true;
                document.getElementById("latest").value = "--/--/----";
                document.getElementById("earliestLabel").innerHTML = "Arrival Date";
                document.getElementById("latestLabel").innerHTML = "";
            }else if((exact == true)&&(arrival == false)){
                document.getElementById("latest").disabled = true;
                document.getElementById("latest").value = "--/--/----";
                document.getElementById("earliestLabel").innerHTML = "Flight Date";
                document.getElementById("latestLabel").innerHTML = "";
            }else if((exact == false)&&(arrival == true)){
                document.getElementById("latest").disabled = false;
                document.getElementById("latest").value = "";
                document.getElementById("earliestLabel").innerHTML = "Earliest Arrival Date";
                document.getElementById("latestLabel").innerHTML = "Latest Arrival Date";
            }else{
                document.getElementById("latest").disabled = false;
                document.getElementById("latest").value = "";
                document.getElementById("earliestLabel").innerHTML = "Earliest Flight Date";
                document.getElementById("latestLabel").innerHTML = "Latest Flight Date";
            }
        }
    </script>
</form>

<!-- Flight management form for finding existing flights --------------------------------------------------------------------------------->
<form id="findExistingFlight" th:action="@{/admin/flight/management}" th:object="${Flight}" method="post">
    <label for="flightNumber" id="flightNumberLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Flight Number: </label>
    <input type="text" id="flightNumber" name="flightNumber" th:value="${flight.getFlightNumber()}">
    <label for="departureTime" id="departureTimeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Departure: </label>
    <input type="datetime-local" id="departureTime" name="departureTime" th:value="${flight.getDepartureString()}">
    <button type="submit" class="btn btn-primary btn-search" >Find Flight</button>
</form>

<!-- Flight management form for creating/editing flights -------------------------------------------------------------------------------->
<form id="EditFlight" th:action="@{/flight/add}" th:object="${container}" method="post">
    <label for="departureCode" id="departureCodeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Origin: </label>
    <input type="text" id="departureCode" th:name="flight.departureCode" th:value="${flight.getDepartureCode()}">
    <label for="destinationCode" id="destinationCodeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Destination: </label>
    <input type="text" id="destinationCode" th:name="flight.destinationCode" th:value="${flight.getDestinationCode()}">

    <label for="departureTime" id="departureTimeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Departure: </label>
    <input type="datetime-local" id="departureTime" th:name="flight.departureTime" th:value="${flight.getDepartureString()}">
    <label for="arrivalTime" id="arrivalTimeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Arrival: </label>
    <input type="datetime-local" id="arrivalTime" th:name="flight.arrivalTime" th:value="${flight.getArrivalString()}">
    <label for="departureTimeStopOver" id="departureTimeStopOverLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Stopover Departure: </label>
    <input type="datetime-local" id="departureTimeStopOver" th:name="flight.departureTimeStopOver" th:value="${flight.getDepartureStopOverString()}">
    <label for="arrivalTimeStopOver" id="arrivalTimeStopOverLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Stopover Arrival: </label>
    <input type="datetime-local" id="arrivalTimeStopOver" th:name="flight.arrivalTimeStopOver" th:value="${flight.getArrivalStopOverString()}">
    <label for="stopoverCode" id="stopoverCodeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Stopover Code: </label>
    <input type="text" id="stopoverCode" th:name="flight.stopoverCode" th:value="${flight.getStopoverCode()}">

    <label for="flightNumber" id="flightNumberLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Flight Number: </label>
    <input type="text" id="flightNumber" th:name="flight.flightNumber" th:value="${flight.getFlightNumber()}">
    <label for="airlineCode" id="airlineCodeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Airline Code: </label>
    <input type="text" id="airlineCode" th:name="flight.airlineCode" th:value="${flight.getAirlineCode()}">
    <label for="duration" id="durationLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Duration: </label>
    <input type="number" id="duration" th:name="flight.duration" th:value="${flight.getDuration()}">
    <label for="durationSecondLeg" id="durationSecondLegLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Duration - Second Leg: </label>
    <input type="number" id="durationSecondLeg" th:name="flight.durationSecondLeg" th:value="${flight.getDurationSecondLeg()}">
    <label for="rating" id="ratingLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Rating: </label>
    <input type="number" id="rating" th:name="flight.rating" th:value="${flight.getRating()}">

    <div th:each="availiability, itemStat : *{availabilities}">
        <p><span th:text="${classes.get(__${itemStat.index}__)}"></span> : <span th:text="${types.get(__${itemStat.index}__)}"></span></p>
        <label for="leg1Seats" id="leg1SeatsLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Leg 1 Seats: </label>
        <input type="number" id="leg1Seats" name="leg1Seats" th:value="${availiability.getNumberAvailableSeatsLeg1()}" th:field="*{availabilities[__${itemStat.index}__].numberAvailableSeatsLeg1}">

        <label for="leg2Seats" id="leg2SeatsLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Leg 2 Seats: </label>
        <input type="number" id="leg2Seats" name="leg2Seats" th:value="${availiability.getNumberAvailableSeatsLeg2()}" th:field="*{availabilities[__${itemStat.index}__].numberAvailableSeatsLeg2}">
    </div>

    <button type="submit" class="btn btn-primary btn-search" >Save Flight</button>
</form>

<!-- Location management form for finding existing Locations --------------------------------------------------------------------------------->
<form id="findExistingLocation" th:action="@{/admin/location/management}" th:object="${Location}" method="post">
    <label for="locationID" id="locationIDLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Location: </label>
    <input type="text" id="locationID" name="locationID">
    <button type="submit" class="btn btn-primary btn-search" >Find Flight</button>
</form>

<!-- Locations management form for creating/editing Locations -------------------------------------------------------------------------------->
<form id="EditLocation" th:action="@{/location/add}" th:object="${Location}" method="post">
    <label for="locationID" id="locationIDLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Location ID: </label>
    <input type="text" id="locationID" name="locationID" th:value="${location.getLocationID()}">
    <label for="location" id="locationLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Location Name: </label>
    <input type="text" id="location" name="location" th:value="${location.getLocation()}">
    <label for="country" id="countryLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Country: </label>
    <input type="text" id="country" name="country" th:value="${location.getCountry()}">

    <label for="latitude" id="latitudeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Latitude: </label>
    <input type="number" id="latitude" name="latitude" th:value="${location.getLatitude()}">
    <label for="longitude" id="longitudeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Longitude: </label>
    <input type="number" id="longitude" name="longitude" th:value="${location.getLongitude()}">

    <label for="description" id="descriptionLabel" >Description: </label>
    <textarea id="description" name="description" rows="4" cols="50" th:text="${location.getDescription()}"></textarea>
    <label for="covid_restricted" id="covid_restrictedLabel">Covid Restricted: </label>
    <input  type="checkbox" id="covid_restricted" name="covid_restricted">
    <button type="submit" class="btn btn-primary btn-search" >Save Flight</button>
</form>

<!-- Recommendation location select dropdown ------------------------------------------------------------------------------------------->
<form id="recommendationLocationForm" th:action="@{/#recommendation}" th:object="${Recommendation}" method="post">
    <span>Departure Location: </span><select class="form-select" name="recommendationLocation" id="recommendationLocation" onchange="this.form.submit()">
    <option
            th:each="location : ${recommendationLocation}"
            th:value="${location.locationID}"
            th:text="${location.locationID} + ' - ' + ${location.location}" th:selected="(${location.locationID} == ${currentLocation})">
    </option>
</select>
</form>

<!-- Credit Card Form -->
<!-- <form id="payment" th:action="@{/bookingConfirmation}" method="post"> -->
<form id="payment" th:action="@{/checkout}">
    <div>
    <!-- Card Number [Input] -->
    <label for="card-number">Card Number</label>
    <input type="text" id="card-number" class="form-control" name="card-number" pattern="[0-9\s] {13,19}" maxlength="19" placeholder="XXXX XXXX XXXX XXXX"><br>
    <label for="card-name">Name on card</label>
    <input type="text" class="form-control" id="card-name" placeholder="John J Smith" required><br>
    </div>

    <div>
    <!-- Card Expiry [Input] -->
    <label for="card-expiry">Card Expiry</label>
    <input type="number" id="card-expiry" class="form-control" name="card-number" placeholder="02/22" maxlength="4"><br>
    <!-- Card Security Code [Input] -->
    <label for="card-security">3-digit Security Code</label>
    <input type="number" id="card-security" class="form-control" name="card-security" placeholder="XXX" maxlength="3"><br>
    </div>
    <!-- Submit Payment Request -->
    <a href="/bookingConfirmation" class="btn btn-success" onclick="validateCreditCard()" style="max-width: 200px">Pay Now</a>
</form>

<!-- Create group form -->
<form id="createGroupForm" th:action="@{/group/add}" th:object="${NewGroup}" method="post">
    <div>
        <div class="row g-2">
            <div class="form-floating col-md-8">
                <input style="max-width: 100%" type="text" id="groupName" class="form-control" name="groupName" placeholder="">
                <label for="groupName" id="nameLabel" class="col-form-label" >Enter Group Name</label>
            </div>
            <div class="col-md d-grid">
                <button type="submit" class="btn btn-primary btn-search">Create Group!</button>
            </div>
        </div>
    </div>

</form>

<!--Register Admin--------------------------------------------------------------------------------------------------------------------------------------->
<form id="registerAdmin" name="registerAdmin" onsubmit="return validateAdminRegister()" th:action="@{/RegisterAdmin}" th:object="${AdminRegister}" method="post">
    <input type="email" id="email" class="form-control" name="email" placeholder="Email"><br>
    <input type="text" id="firstName" class="form-control" name="firstName" placeholder="First Name"><br>
    <input type="text" id="lastName" class="form-control" name="lastName" placeholder="Last Name"><br>
    <input type="text" id="company" class="form-control" name="company" placeholder="Company"><br>
    <label id="passwordlbl" class="form-label" name="passwordlbl" >Password</label><br>

    <input type="password" id="password" class="form-control" name="password" placeholder="Password"  ><br>
    <label id="confirmpasswordlbl" class="form-label" name="confirmpasswordlbl" >Confirm Password</label><br>
    <input type="password" id="confirmpassword" class="form-control" name="confirmpassword" placeholder="Password"><br>
    <label id="registrationcodelbl" class="form-label" name="registrationcodelbl" >Registration Code</label><br>
    <input type="text" id="registrationcode" class="form-control" name="registrationcode"><br>
    <button type="submit" class="btn btn-primary btn-search">Register Account!</button>


    <script>
        function validateAdminRegister() {
            let f =  document.forms["registerAdmin"];
            let x = true;

            if(f["email"].value == ""){ x = false; }
            if(f["firstName"].value == ""){ x = false; }
            if(f["lastName"].value == ""){ x = false; }
            if(f["company"].value == ""){ x = false; }
            if(f["password"].value == ""){ x = false; }
            if(f["confirmpassword"].value == ""){ x = false; }
            if(f["registrationcode"].value == ""){ x = false; }

            console.log(x);

            if (x == "") {
                alert("Please fill in all fields");
                return false;
            }
            else if(!(f["password"].value === f["confirmpassword"].value)){
                alert("Passwords do not match");
                return false;
            }
            else if(!(f["registrationcode"].value === "h38DxU9QneP1gB")){
                alert("The registration code is invalid. \n Please contact FlightPub PTY LTD");
                return false;
            }
            else{
                return true;
            }
        }
    </script>
</form>

<!-- Covid restricted location ------------------------------------------------------------------------------------------->
<form id="covidRestrictedLocationForm" th:action="@{/covidRestrict}" th:object="${Covid}" method="post">
    <span>Covid Location: </span>
    <select name="covidRestrictedLocation" id="covidRestrictedLocation" class="form-select">
        <option th:each="Location: ${locs}" th:value="${Location.getLocationID()}" th:text="${Location.getLocationID()} + ' - ' + ${Location.getLocation()}"></option>
    </select><br>
    <select name="covidRestriction" id="covidRestriction" class="form-control">
        <option value="restrict">Restricted</option>
        <option value="unrestrict">Unrestricted</option>
    </select><br>
    <button type="submit" class="btn btn-primary btn-search">Submit</button>
</form>

<!--Holiday Package Form--------------------------------------------------------------------------------------------------------------------------------------->
<form id="holidayPackageForm" name="holidayPackage" onsubmit="return validateHolidayPackage()" th:action="@{/HolidayPackage}" th:object="${HolidayPackage}" method="post">
    <input type="text" id="airlineCode" class="form-control" name="airlineCode" placeholder="Airline Code"><br>
    <input type="text" id="airlineName" class="form-control" name="airlineName" placeholder="Airline Name"><br>
    <input type="text" id="destinationCode" class="form-control" name="destinationCode" placeholder="Destination Code"><br>
    <input type="text" id="airport" class="form-control" name="airport" placeholder="Airport"><br>
    <label for="discountPercentage" class="form-label">Discount Percentage</label>
    <input type="number" id="discountPercentage" class="form-control" name="discountPercentage" min="10" max="100" value="10"><br>
    <input type="text" id="hotelName" class="form-control" name="hotelName" placeholder="Hotel Name"><br>
    <label for="hotelStarRating" class="form-label">Hotel Star Rating</label>
    <input type="number" id="hotelStarRating" class="form-control" name="hotelStarRating" min="0" max="5"><br>
    <input type="text" id="hotelDescription" class="form-control" name="hotelDescription" placeholder="Hotel Description"><br>
    <input type="text" id="packageStartDate" class="form-control" name="packageStartDate" placeholder="YYYY-MM-DD HH:mm:ss"><br>
    <input type="text" id="packageEndDate" class="form-control" name="packageEndDate" placeholder="YYYY-MM-DD HH:mm:ss"><br>
    <button type="submit" class="btn btn-primary btn-search">Create Holiday Package</button>


    <script>
        function validateHolidayPackage() {
            let f =  document.forms["holidayPackage"];
            let x = true;

            if(f["airlineCode"].value == ""){ x = false; }
            if(f["airlineName"].value == ""){ x = false; }
            if(f["destinationCode"].value == ""){ x = false; }
            if(f["airport"].value == ""){ x = false; }
            if(f["hotelName"].value == ""){ x = false; }
            if(f["hotelDescription"].value == ""){ x = false; }
            if(f["packageStartDate"].value == ""){ x = false; }
            if(f["packageEndDate"].value == ""){ x = false; }

            console.log(x);

            if (x == "") {
                alert("Please fill in all fields");
                return false;
            }
            else{
                return true;
            }
        }
    </script>
</form>

<form id="seatSelection" name="seatSelection">
    <select id="seatSelect" name="seatSelect" >
        <option value="" selected="true">-- Select --</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</form>

<!-- User Modificaion Form ------------------------------------------------------------------------------------------->
<form id="userModificationForm" onsubmit="return validateUserModification()" th:action="@{/userModification}" method="post">
    <span>User: </span>
    <input type="text" id="user" class="form-control" name="user" placeholder="User Email For Modification"><br>
    <span>User Field: </span>
    <select name="userField" id="userField" class="form-select">
        <option value="email" selected="true">Email</option>
        <option value="firstName">First Name</option>
        <option value="password">Password</option>
        <option value="preferredAirport">Preferred Airport</option>
    </select><br>
    <input type="text" id="modification" class="form-control" name="modification" placeholder="New User Field Value"><br>
    <button type="submit" class="btn btn-primary btn-search">Update User</button>

    <script>
        function validateUserModification() {
            let f =  document.forms["userModificationForm"];
            let x = true;

            if(f["modification"].value == ""){ x = false; }

            console.log(x);

            if (x == "") {
                alert("Please fill in the user modification field");
                return false;
            }
            else{
                return true;
            }
        }
    </script>
</form>

<!-- User Modificaion Form ------------------------------------------------------------------------------------------->
<form id="userDeleteForm" onsubmit="return validateUserDeletion()" th:action="@{/userDelete}" method="post">
    <span>User: </span>
    <input type="text" id="userDelete" class="form-control" name="userDelete" placeholder="User Email For Deletion"><br>
    <button type="submit" class="btn btn-primary btn-search">Delete User</button>

    <script>
        function validateUserDeletion() {
            let f =  document.forms["userDeleteForm"];
            let x = true;

            if(f["userDelete"].value == ""){ x = false; }

            console.log(x);

            if (x == "") {
                alert("Please fill in the user deletion field");
                return false;
            }
            else{
                return true;
            }
        }
    </script>
</form>

<!-- Admin Add User Form ------------------------------------------------------------------------------------------->
<form id="addUser" name="addUser" onsubmit="return validateAddUser()" th:action="@{/addUser}" th:object="${UserAccount}" method="post">
    <input type="email" id="email" class="form-control" name="email" placeholder="Email"><br>
    <input type="text" id="firstname" class="form-control" name="firstname" placeholder="Firstname"><br>

    <label id="airportlbl" class="form-label" name="airportlbl" >Preferred Airport</label><br>
    <select name="prefAirport" id="prefAirport" class="form-control">
        <option th:each="Location: ${locs}" th:value="${Location.getLocationID()}" th:text="${Location.getLocationID()} + ' - ' + ${Location.getLocation()}"></option>
    </select><br>

    <input type="password" id="password" class="form-control" name="password" placeholder="Password"><br>
    <input type="password" id="confirmpassword" class="form-control" name="confirmpassword" placeholder="Confirm Password"><br>
    <button type="submit" class="btn btn-primary btn-search">Create User Account</button>

    <script>
        function validateAddUser() {
            let f =  document.forms["addUser"];
            let x = true;

            if(f["email"].value == ""){ x = false; }
            if(f["firstname"].value == ""){ x = false; }
            if(f["password"].value == ""){ x = false; }
            if(f["confirmpassword"].value == ""){ x = false; }

            if (x == "") {
                alert("Please fill in all fields");
                return false;
            }
            else if(!(f["password"].value === f["confirmpassword"].value)){
                alert("Passwords do not match");
                return false;
            }
            else{
                return true;
            }
        }
    </script>
</form>