<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"></html>
<form id="login" method="post" th:action="@{/login}" th:object="${LoginRequest}">
    <div class="mb-3">
        <label class="form-label" for="exampleInputEmail1">Email address</label>
        <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" name="email" type="email">
        <div class="form-text" id="emailHelp">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="exampleInputPassword1">Password</label>
        <input class="form-control" id="exampleInputPassword1" name="password" type="password">
    </div>
    <p style="color: red" th:if="${valid} != null">Username & Password did not match a valid account. Please try
        again.</p>

    <input id="redirect" name="redirect" th:value="${redirect}" type="hidden">

    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<form id="search" method="post" th:action="@{/search}" th:object="${BasicSearch}">
    <datalist id="locationList">
        <option
                th:each="location : ${searchLocation}"
                th:value="${location.location}">
        </option>
    </datalist>
    <div class="row g-2">
        <div class="form-floating col-md">

            <input class="form-control" id="origin" list="locationList" name="originIn"
                   placeholder="Departure Location....">

            <label for="origin">Fly From</label>

        </div>
        <div class="form-floating col-md">
            <input class="form-control" id="destination" list="locationList" name="destinationIn"
                   placeholder="Departure Location....">

            <label for="destination">Fly To</label>
        </div>

        <div class="form-floating col-md">
            <input class="form-control" id="start" name="start" th:max="${max}"
                   th:min="${today}"
                   th:value="${today}" type="date">
            <label for="start" id="startLabel">Earliest Flight Date</label>
        </div>
        <div class="form-floating col-md">
            <input class="form-control" id="end" name="end" th:max="${max}"
                   th:min="${today}"
                   th:value="${today}" type="date">
            <label for="end" id="endLabel">Latest Flight Date</label>
        </div>

        <div class="col-md d-grid">
            <button class="btn btn-primary start-loading btn-search" type="submit">Find Flights!</button>
        </div>
    </div>
    <div>
        <div class="form-group form-check-inline">
            <div class="form-check">
                <input class="form-check-input" id="nodest" name="nodest" onclick="allDest()" type="checkbox">
                <label class="form-check-label" for="nodest">Show all destinations</label>
            </div>
        </div>
        <div class="form-group form-check-inline">
            <div class="form-check">
                <input class="form-check-input" id="exactdate" name="exactdate" onclick="adjustDate()" type="checkbox">
                <label class="form-check-label" for="exactdate">Use Exact Date</label>
            </div>
        </div>
        <div class="form-group form-check-inline">
            <div class="form-check">
                <input class="form-check-input" id="searchByArrival" name="searchByArrival" onclick="adjustDate()"
                       type="checkbox">
                <label class="form-check-label" for="searchByArrival">Search by Arrival Times</label>
            </div>
        </div>
    </div>

    <script>
        function allDest() {

            let val = document.getElementById("nodest");

            if (val.checked == true) {
                document.getElementById("destination").disabled = true;
                document.getElementById("destination").value = "Show All";
            } else {
                document.getElementById("destination").disabled = false;
                document.getElementById("destination").value = "";
            }
        }

        function adjustDate() {
            let exact = document.getElementById("exactdate").checked;
            let arrival = document.getElementById("searchByArrival").checked;

            if ((exact == true) && (arrival == true)) {
                document.getElementById("end").disabled = true;
                document.getElementById("end").value = "--/--/----";
                document.getElementById("startLabel").innerHTML = "Arrival Date";
                document.getElementById("endLabel").innerHTML = "";
            } else if ((exact == true) && (arrival == false)) {
                document.getElementById("end").disabled = true;
                document.getElementById("end").value = "--/--/----";
                document.getElementById("startLabel").innerHTML = "Flight Date";
                document.getElementById("endLabel").innerHTML = "";
            } else if ((exact == false) && (arrival == true)) {
                document.getElementById("end").disabled = false;
                document.getElementById("end").value = "";
                document.getElementById("startLabel").innerHTML = "Earliest Arrival Date";
                document.getElementById("endLabel").innerHTML = "Latest Arrival Date";
            } else {
                document.getElementById("end").disabled = false;
                document.getElementById("end").value = "";
                document.getElementById("startLabel").innerHTML = "Earliest Flight Date";
                document.getElementById("endLabel").innerHTML = "Latest Flight Date";
            }
        }
    </script>
</form>

<form id="registerUser" method="post" name="registerUser" onsubmit="return validateRegister()"
      th:action="@{/RegisterUser}" th:object="${UserRegister}">
    <input class="form-control" id="email" name="email" placeholder="Email" type="email"><br>
    <input class="form-control" id="firstname" name="firstname" placeholder="Firstname" type="text"><br>
    <input class="form-control" id="address" name="address" placeholder="Address" type="text"><br>

    <label class="form-label" id="airportlbl" name="airportlbl">Preferred Airport</label><br>
    <select class="form-control" id="prefAirport" name="prefAirport">
        <option th:each="Location: ${locs}" th:text="${Location.getLocationID()} + ' - ' + ${Location.getLocation()}"
                th:value="${Location.getLocationID()}"></option>
    </select><br>

    <input class="form-control" id="password" name="password" placeholder="Password" type="password"><br>
    <input class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password"
           type="password"><br>
    <button class="btn btn-primary btn-search" type="submit">Create Account!</button>

    <script>
        function validateRegister() {
            let f = document.forms["registerUser"];
            let x = true;

            if (f["email"].value == "") {
                x = false;
            }
            if (f["firstname"].value == "") {
                x = false;
            }
            if (f["address"].value == "") {
                x = false;
            }
            if (f["password"].value == "") {
                x = false;
            }
            if (f["confirmpassword"].value == "") {
                x = false;
            }

            if (x == "") {
                alert("Please fill in all fields");
                return false;
            } else if (!(f["password"].value === f["confirmpassword"].value)) {
                alert("Passwords do not match");
                return false;
            } else {
                return true;
            }
        }
    </script>
</form>

<!--REGISTER USER--------------------------------------------------------------------------------------------------------------------------------------->
<form id="updateUser" method="post" name="registerUser" onsubmit="return validateRegister()"
      th:action="@{/UpdateUser}" th:object="${UserRegister}">
    <div class="row">
        <div class="col-md-4">
            <label class="form-label" id="emaillbl" name="airportlbl">Email</label><br>
            <input class="form-control" disabled id="email" name="email" th:value="${usr.getEmail()}" type="email"><br>
            <label class="form-label" id="namelbl" name="airportlbl">First Name</label><br>
            <input class="form-control" id="firstname" name="firstname" th:value="${usr.getFirstname()}"
                   type="text"><br>
        </div>
        <div class="col-md-4">
            <label class="form-label" id="passwordlbl" name="passlbl">Password</label><br>
            <input class="form-control" id="password" name="password" placeholder="Password" type="password"><br>
            <label class="form-label" id="confirmpasswordlbl" name="conpasslbl">Confirm Password</label><br>
            <input class="form-control" id="confirmpassword" name="confirmpassword" type="password"><br>
        </div>
        <div class="col-md-4">
            <label class="form-label" id="airportlbl" name="airportlbl">Preferred Airport</label><br>
            <select class="form-control" id="prefAirport" name="prefAirport">
                <option th:each="Location: ${locs}" th:text="${Location.getLocationID()} + ' - ' + ${Location.getLocation()}"
                        th:value="${Location.getLocationID()}"></option>
            </select><br>
            <button class="btn btn-primary btn-search" type="submit">Update Account!</button>
        </div>

    </div>


    <script>
        function validateRegister() {
            let f = document.forms["registerUser"];
            let x = true;

            if (f["email"].value == "") {
                x = false;
            }
            if (f["firstname"].value == "") {
                x = false;
            }
            if (f["password"].value == "") {
                x = false;
            }
            if (f["confirmpassword"].value == "") {
                x = false;
            }

            if (x == "") {
                alert("Please fill in all fields");
                return false;
            } else if (!(f["password"].value === f["confirmpassword"].value)) {
                alert("Passwords do not match");
                return false;
            } else {
                return true;
            }
        }
    </script>
</form>
<!--Advanced Search--------------------------------------------------------------------------------------------------------------------------------------->
<form id="advancedSearch" method="post" th:action="@{/advancedSearch}" th:object="${BasicSearch}">
    <datalist id="locations">
        <option
                th:each="location : ${searchLocation}"
                th:value="${location.location}">
        </option>
    </datalist>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" id="flightOrigin" list="locations" name="originIn"
                       th:value="${search.getOriginIn()}" type="text"><br>

                <input class="form-control" id="flightDestination" list="locations" name="destinationIn"
                       th:value="${search.getDestinationIn()}" type="text"><br>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="earliest" id="earliestLabel"
                       style="font-size: 0.65em; margin-left: 10px; position: absolute;">Earliest Flight</label>
                <input class="form-control" id="earliest" name="start" th:max="${max}"
                       th:min="${today}"
                       th:value="${search.getStart()}" type="date"><br>
                <label class="form-label" for="earliest" id="latestLabel"
                       style="font-size: 0.65em; margin-left: 10px; position: absolute;">Latest Flight</label>
                <input class="form-control" id="latest" name="end" th:max="${max}"
                       th:min="${today}"
                       th:value="${search.getEnd()}" type="date"><br>
            </div>
            <div class="col-md-4">
            </div>
            <hr>

            <div class="col-md-4">
                <label class="form-label" for="maxPrice">Max-Price</label>
                <br>
                <input class="form-control" id="maxPrice" max="12000" min="0" name="maxPrice" placeholder="Max"
                       type="number" value="12000"><br>
            </div>
            <div class="col-md-4">

                <label class="form-label" for="seats">Number of Seats</label>
                <input class="form-control" id="seats" min="1" name="seats" type="number" value="1"><br><br>


            </div>
            <div class="col-md-4">
                <label class="form-label" for="rating">Minimum Ratings
                </label>&nbsp;
                <output>
                    0
                </output>
                <br>
                <input class="form-control" id="rating" max="5" min="0" name="rating" oninput="this.previousElementSibling.value = this.value" type="range"
                       value="0"><br>
            </div>
            <hr>


            <div class="col-md-8">
                <input id="nodestAdvanced" name="nodest" onclick="allDest()" style="width: 50px;" type="checkbox">
                <label class="form-label" for="nodestAdvanced">Show all destinations</label>
                <input id="exactdateAdvanced" name="exactdate" onclick="adjustDate()" style="width: 50px;"
                       type="checkbox">
                <label class="form-label" for="exactdateAdvanced">Use Exact Date</label>

                <input id="directFlight" name="directFlight" o="" style="width: 50px;" type="checkbox">
                <label class="form-label" for="directFlight">Direct flight Only</label>

                <input id="searchByArrivalAdvanced" name="searchByArrival" onclick="adjustDate()" style="width: 50px;"
                       type="checkbox">
                <label class="form-label" for="searchByArrivalAdvanced">Search by Arrival Times</label>

            </div>
            <div class="col-md-4">
                <button class="btn btn-primary start-loading btn-search" style="margin-top: -5px" type="submit">Find
                    Flights!
                </button>
            </div>
            <br>
        </div>
    </div>
    <script>
        function allDest() {

            let val = document.getElementById("nodestAdvanced");

            if (val.checked == true) {
                document.getElementById("flightDestination").disabled = true;
                document.getElementById("flightDestination").value = "Show All";
            } else {
                document.getElementById("flightDestination").disabled = false;
                document.getElementById("flightDestination").value = "";
            }
        }

        function adjustDate() {
            let exact = document.getElementById("exactdateAdvanced").checked;
            let arrival = document.getElementById("searchByArrivalAdvanced").checked;

            if ((exact == true) && (arrival == true)) {
                document.getElementById("latest").disabled = true;
                document.getElementById("latest").value = "--/--/----";
                document.getElementById("earliestLabel").innerHTML = "Arrival Date";
                document.getElementById("latestLabel").innerHTML = "";
            } else if ((exact == true) && (arrival == false)) {
                document.getElementById("latest").disabled = true;
                document.getElementById("latest").value = "--/--/----";
                document.getElementById("earliestLabel").innerHTML = "Flight Date";
                document.getElementById("latestLabel").innerHTML = "";
            } else if ((exact == false) && (arrival == true)) {
                document.getElementById("latest").disabled = false;
                document.getElementById("latest").value = "";
                document.getElementById("earliestLabel").innerHTML = "Earliest Arrival Date";
                document.getElementById("latestLabel").innerHTML = "Latest Arrival Date";
            } else {
                document.getElementById("latest").disabled = false;
                document.getElementById("latest").value = "";
                document.getElementById("earliestLabel").innerHTML = "Earliest Flight Date";
                document.getElementById("latestLabel").innerHTML = "Latest Flight Date";
            }
        }
    </script>
</form>

<!-- Flight management form for finding existing flights --------------------------------------------------------------------------------->
<form id="findExistingFlight" method="post" th:action="@{/admin/flight/management}" th:object="${Flight}">
    <div class="row">
        <div class="col-md-4">
            <label for="flightNumber" id="flightNumberLabel"
                   style="font-size: 0.65em; margin-left: 10px; position: absolute;">Flight Number: </label>
            <input class="form-control" id="flightNumber" name="flightNumber" th:value="${flight.getFlightNumber()}"
                   type="text">
        </div>
        <div class="col-md-4">
            <label for="departureTime" id="departureTimeLabel"
                   style="font-size: 0.65em; margin-left: 10px; position: absolute;">Departure: </label>
            <input class="form-control" id="departureTime" name="departureTime" th:value="${flight.getDepartureString()}"
                   type="datetime-local">
        </div>
    </div>
    <button class="btn btn-primary btn-search" type="submit">Find Flight</button>
</form>

<!-- Flight management form for creating/editing flights -------------------------------------------------------------------------------->
<form id="EditFlight" method="post" th:action="@{/flight/add}" th:object="${Flight}">
    <style>
        input {
            margin-bottom: 20px;
        }
    </style>
    <div class="row">
        <div class="col-md-4">
            <label for="planeCode" id="planeCodeLabel"
                   style="font-size: 0.65em; margin-left: 10px; position: absolute;">Plane Code: </label>
            <input class="form-control" id="planeCode" name="planeCode" th:value="${flight.getPlaneCode()}" type="text">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <label for="departureCode" id="departureCodeLabel"
           style="font-size: 0.65em; margin-left: 10px; position: absolute;">Origin: </label>
            <input class="form-control" id="departureCode" name="departureCode" th:value="${flight.getDepartureCode()}" type="text">
        </div>
        <div class="col-md-4">
            <label for="departureTime" id="departureTimeLabel"
                   style="font-size: 0.65em; margin-left: 10px; position: absolute;">Departure: </label>
            <input class="form-control" id="departureTime" name="departureTime" th:value="${flight.getDepartureString()}" type="datetime-local">
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <label for="destinationCode" id="destinationCodeLabel"
                   style="font-size: 0.65em; margin-left: 10px; position: absolute;">Destination: </label>
            <input class="form-control" id="destinationCode" name="destinationCode" th:value="${flight.getDestinationCode()}" type="text">
        </div>
        <div class="col-md-4">
            <label for="arrivalTime" id="arrivalTimeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Arrival: </label>
            <input class="form-control" id="arrivalTime" name="arrivalTime" th:value="${flight.getArrivalString()}" type="datetime-local">
        </div>
    </div>
<hr>
    <div class="row">
        <div class="col-md-4">
            <label for="stopoverCode" id="stopoverCodeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Stopover
                Code: </label>
            <input class="form-control"  id="stopoverCode" name="stopoverCode" th:value="${flight.getStopoverCode()}" type="text">
        </div>
        <div class="col-md-4">
            <label for="departureTimeStopOver" id="departureTimeStopOverLabel"
                   style="font-size: 0.65em; margin-left: 10px; position: absolute;">Stopover Departure: </label>
            <input class="form-control"  id="departureTimeStopOver" name="departureTimeStopOver" th:value="${flight.getDepartureStopOverString()}"
                   type="datetime-local">
        </div>
        <div class="col-md-4">
            <label for="arrivalTimeStopOver" id="arrivalTimeStopOverLabel"
                   style="font-size: 0.65em; margin-left: 10px; position: absolute;">Stopover Arrival: </label>
            <input class="form-control"  id="arrivalTimeStopOver" name="arrivalTimeStopOver" th:value="${flight.getArrivalStopOverString()}"
                   type="datetime-local">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <label for="flightNumber" id="flightNumberLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Flight
                Number: </label>
            <input class="form-control" id="flightNumber" name="flightNumber" th:value="${flight.getFlightNumber()}" type="text">
        </div>
        <div class="col-md-4">
            <label for="airlineCode" id="airlineCodeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Airline
                Code: </label>
            <input class="form-control" id="airlineCode" name="airlineCode" th:value="${flight.getAirlineCode()}" type="text">
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <label for="duration" id="durationLabel"
                   style="font-size: 0.65em; margin-left: 10px; position: absolute;">Duration: </label>
            <input class="form-control" id="duration" name="duration" th:value="${flight.getDuration()}" type="number">
        </div>
        <div class="col-md-4">
            <label for="durationSecondLeg" id="durationSecondLegLabel"
                   style="font-size: 0.65em; margin-left: 10px; position: absolute;">Duration - Second Leg: </label>
            <input class="form-control" id="durationSecondLeg" name="durationSecondLeg" th:value="${flight.getDurationSecondLeg()}" type="number">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <label for="ticketPrice" id="ticketPriceLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Ticket
                Price: </label>
            <input class="form-control" id="ticketPrice" name="ticketPrice" th:value="${flight.getTicketPrice()}" type="number">
        </div>
        <div class="col-md-4">
            <label for="maxSeats" id="maxSeatsLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Max
                Seats: </label>
            <input class="form-control" id="maxSeats" name="maxSeats" th:value="${flight.getMaxSeats()}" type="number">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <label for="rating" id="ratingLabel"
                   style="font-size: 0.65em; margin-left: 10px; position: absolute;">Rating: </label>
            <input class="form-control" id="rating" name="rating" th:value="${flight.getRating()}" type="number">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
             <button class="btn btn-primary btn-search" type="submit">Save Flight</button>
        </div>
    </div>
</form>

<!-- Location management form for finding existing Locations --------------------------------------------------------------------------------->
<form id="findExistingLocation" method="post" th:action="@{/admin/location/management}" th:object="${Location}">
    <label for="locationID" id="locationIDLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Location: </label>
    <input class="form-control" id="locationID" name="locationID" type="text">
    <button class="btn btn-primary btn-search" type="submit">Find Flight</button>
</form>

<!-- Locations management form for creating/editing Locations -------------------------------------------------------------------------------->
<form id="EditLocation" method="post" th:action="@{/location/add}" th:object="${Location}">
    <label for="locationID" id="locationIDLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Location
        ID: </label>
    <input id="locationID" name="locationID" th:value="${location.getLocationID()}" type="text">
    <label for="location" id="locationLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Location
        Name: </label>
    <input id="location" name="location" th:value="${location.getLocation()}" type="text">
    <label for="country" id="countryLabel"
           style="font-size: 0.65em; margin-left: 10px; position: absolute;">Country: </label>
    <input id="country" name="country" th:value="${location.getCountry()}" type="text">

    <label for="latitude" id="latitudeLabel"
           style="font-size: 0.65em; margin-left: 10px; position: absolute;">Latitude: </label>
    <input id="latitude" name="latitude" th:value="${location.getLatitude()}" type="number">
    <label for="longitude" id="longitudeLabel" style="font-size: 0.65em; margin-left: 10px; position: absolute;">Longitude: </label>
    <input id="longitude" name="longitude" th:value="${location.getLongitude()}" type="number">

    <label for="description" id="descriptionLabel">Description: </label>
    <textarea cols="50" id="description" name="description" rows="4" th:text="${location.getDescription()}"></textarea>
    <label for="covid_restricted" id="covid_restrictedLabel">Covid Restricted: </label>
    <input id="covid_restricted" name="covid_restricted" type="checkbox">
    <button class="btn btn-primary btn-search" type="submit">Save Flight</button>
</form>

<!-- Recommendation location select dropdown ------------------------------------------------------------------------------------------->
<form id="recommendationLocationForm" method="post" th:action="@{/#recommendation}" th:object="${Recommendation}">
    <span>Departure Location: </span><select class="form-select" id="recommendationLocation"
                                             name="recommendationLocation" onchange="this.form.submit()">
    <option
            th:each="location : ${recommendationLocation}"
            th:selected="(${location.locationID} == ${currentLocation})"
            th:text="${location.locationID} + ' - ' + ${location.location}"
            th:value="${location.locationID}">
    </option>
</select>
</form>

<!-- Create group form -->
<form id="createGroupForm" method="post" th:action="@{/group/add}" th:object="${NewGroup}">
    <div>
        <div class="row g-2">
            <div class="form-floating col-md-8">
                <input class="form-control" id="groupName" name="groupName" placeholder="" style="max-width: 100%"
                       type="text">
                <label class="col-form-label" for="groupName" id="nameLabel">Enter Group Name</label>

                <div th:if="${Flight != null}">
                    <input name="flightId" th:value="${Flight.FlightID}" type="hidden">
                </div>


            </div>
            <div class="col-md d-grid">
                <button class="btn btn-primary btn-search" type="submit">Create Group!</button>
            </div>
        </div>
    </div>

</form>

<!--Register Admin--------------------------------------------------------------------------------------------------------------------------------------->
<form id="registerAdmin" method="post" name="registerAdmin" onsubmit="return validateAdminRegister()"
      th:action="@{/RegisterAdmin}" th:object="${AdminRegister}">
    <input class="form-control" id="email" name="email" placeholder="Email" type="email"><br>
    <input class="form-control" id="firstName" name="firstName" placeholder="First Name" type="text"><br>
    <input class="form-control" id="lastName" name="lastName" placeholder="Last Name" type="text"><br>
    <input class="form-control" id="company" name="company" placeholder="Company" type="text"><br>
    <label class="form-label" id="passwordlbl" name="passwordlbl">Password</label><br>

    <input class="form-control" id="password" name="password" placeholder="Password" type="password"><br>
    <label class="form-label" id="confirmpasswordlbl" name="confirmpasswordlbl">Confirm Password</label><br>
    <input class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Password" type="password"><br>
    <label class="form-label" id="registrationcodelbl" name="registrationcodelbl">Registration Code</label><br>
    <input class="form-control" id="registrationcode" name="registrationcode" type="text"><br>
    <button class="btn btn-primary btn-search" type="submit">Register Account!</button>


    <script>
        function validateAdminRegister() {
            let f = document.forms["registerAdmin"];
            let x = true;

            if (f["email"].value == "") {
                x = false;
            }
            if (f["firstName"].value == "") {
                x = false;
            }
            if (f["lastName"].value == "") {
                x = false;
            }
            if (f["company"].value == "") {
                x = false;
            }
            if (f["password"].value == "") {
                x = false;
            }
            if (f["confirmpassword"].value == "") {
                x = false;
            }
            if (f["registrationcode"].value == "") {
                x = false;
            }

            console.log(x);

            if (x == "") {
                alert("Please fill in all fields");
                return false;
            } else if (!(f["password"].value === f["confirmpassword"].value)) {
                alert("Passwords do not match");
                return false;
            } else if (!(f["registrationcode"].value === "h38DxU9QneP1gB")) {
                alert("The registration code is invalid. \n Please contact FlightPub PTY LTD");
                return false;
            } else {
                return true;
            }
        }
    </script>
</form>

<!-- Covid restricted location ------------------------------------------------------------------------------------------->
<form id="covidRestrictedLocationForm" method="post" th:action="@{/covidRestrict}" th:object="${Covid}">
    <span>Covid Location: </span>
    <select class="form-select" id="covidRestrictedLocation" name="covidRestrictedLocation">
        <option th:each="Location: ${locs}" th:text="${Location.getLocationID()} + ' - ' + ${Location.getLocation()}"
                th:value="${Location.getLocationID()}"></option>
    </select><br>
    <select class="form-control" id="covidRestriction" name="covidRestriction">
        <option value="restrict">Restricted</option>
        <option value="unrestrict">Unrestricted</option>
    </select><br>
    <button class="btn btn-primary btn-search" type="submit">Submit</button>
</form>

<!--Holiday Package Form--------------------------------------------------------------------------------------------------------------------------------------->
<form id="holidayPackageForm" method="post" name="holidayPackage"
      onsubmit="return validateHolidayPackage()" th:action="@{/HolidayPackage}" th:object="${HolidayPackage}">
    <input class="form-control" id="airlineCode" name="airlineCode" placeholder="Airline Code" type="text"><br>
    <input class="form-control" id="airlineName" name="airlineName" placeholder="Airline Name" type="text"><br>
    <input class="form-control" id="destinationCode" name="destinationCode" placeholder="Destination Code"
           type="text"><br>
    <input class="form-control" id="airport" name="airport" placeholder="Airport" type="text"><br>
    <label class="form-label" for="discountPercentage">Discount Percentage</label>
    <input class="form-control" id="discountPercentage" max="100" min="10" name="discountPercentage" type="number"
           value="10"><br>
    <input class="form-control" id="hotelName" name="hotelName" placeholder="Hotel Name" type="text"><br>
    <label class="form-label" for="hotelStarRating">Hotel Star Rating</label>
    <input class="form-control" id="hotelStarRating" max="5" min="0" name="hotelStarRating" type="number"><br>
    <input class="form-control" id="hotelDescription" name="hotelDescription" placeholder="Hotel Description"
           type="text"><br>
    <input class="form-control" id="packageStartDate" name="packageStartDate" placeholder="YYYY-MM-DD HH:mm:ss"
           type="text"><br>
    <input class="form-control" id="packageEndDate" name="packageEndDate" placeholder="YYYY-MM-DD HH:mm:ss" type="text"><br>
    <button class="btn btn-primary btn-search" type="submit">Create Holiday Package</button>


    <script>
        function validateHolidayPackage() {
            let f = document.forms["holidayPackage"];
            let x = true;

            if (f["airlineCode"].value == "") {
                x = false;
            }
            if (f["airlineName"].value == "") {
                x = false;
            }
            if (f["destinationCode"].value == "") {
                x = false;
            }
            if (f["airport"].value == "") {
                x = false;
            }
            if (f["hotelName"].value == "") {
                x = false;
            }
            if (f["hotelDescription"].value == "") {
                x = false;
            }
            if (f["packageStartDate"].value == "") {
                x = false;
            }
            if (f["packageEndDate"].value == "") {
                x = false;
            }

            console.log(x);

            if (x == "") {
                alert("Please fill in all fields");
                return false;
            } else {
                return true;
            }
        }
    </script>
</form>

<form id="seatSelection" name="seatSelection">
    <select id="seatSelect" name="seatSelect">
        <option selected="true" value="">-- Select --</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</form>

<!-- User Modificaion Form ------------------------------------------------------------------------------------------->
<form id="userModificationForm" method="post" onsubmit="return validateUserModification()"
      th:action="@{/userModification}">
    <span>User: </span>
    <input class="form-control" id="user" name="user" placeholder="User Email For Modification" type="text"><br>
    <span>User Field: </span>
    <select class="form-select" id="userField" name="userField">
        <option selected="true" value="email">Email</option>
        <option value="firstName">First Name</option>
        <option value="password">Password</option>
        <option value="preferredAirport">Preferred Airport</option>
    </select><br>
    <input class="form-control" id="modification" name="modification" placeholder="New User Field Value"
           type="text"><br>
    <button class="btn btn-primary btn-search" type="submit">Update User</button>

    <script>
        function validateUserModification() {
            let f = document.forms["userModificationForm"];
            let x = true;

            if (f["modification"].value == "") {
                x = false;
            }

            console.log(x);

            if (x == "") {
                alert("Please fill in the user modification field");
                return false;
            } else {
                return true;
            }
        }
    </script>
</form>

<!-- User Modificaion Form ------------------------------------------------------------------------------------------->
<form id="userDeleteForm" method="post" onsubmit="return validateUserDeletion()" th:action="@{/userDelete}">
    <span>User: </span>
    <input class="form-control" id="userDelete" name="userDelete" placeholder="User Email For Deletion" type="text"><br>
    <button class="btn btn-primary btn-search" type="submit">Delete User</button>

    <script>
        function validateUserDeletion() {
            let f = document.forms["userDeleteForm"];
            let x = true;

            if (f["userDelete"].value == "") {
                x = false;
            }

            console.log(x);

            if (x == "") {
                alert("Please fill in the user deletion field");
                return false;
            } else {
                return true;
            }
        }
    </script>
</form>

<!-- Admin Add User Form ------------------------------------------------------------------------------------------->
<form id="addUser" method="post" name="addUser" onsubmit="return validateAddUser()" th:action="@{/addUser}"
      th:object="${UserAccount}">
    <input class="form-control" id="email" name="email" placeholder="Email" type="email"><br>
    <input class="form-control" id="firstname" name="firstname" placeholder="Firstname" type="text"><br>

    <label class="form-label" id="airportlbl" name="airportlbl">Preferred Airport</label><br>
    <select class="form-control" id="prefAirport" name="prefAirport">
        <option th:each="Location: ${locs}" th:text="${Location.getLocationID()} + ' - ' + ${Location.getLocation()}"
                th:value="${Location.getLocationID()}"></option>
    </select><br>

    <input class="form-control" id="password" name="password" placeholder="Password" type="password"><br>
    <input class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password"
           type="password"><br>
    <button class="btn btn-primary btn-search" type="submit">Create User Account</button>

    <script>
        function validateAddUser() {
            let f = document.forms["addUser"];
            let x = true;

            if (f["email"].value == "") {
                x = false;
            }
            if (f["firstname"].value == "") {
                x = false;
            }
            if (f["password"].value == "") {
                x = false;
            }
            if (f["confirmpassword"].value == "") {
                x = false;
            }

            if (x == "") {
                alert("Please fill in all fields");
                return false;
            } else if (!(f["password"].value === f["confirmpassword"].value)) {
                alert("Passwords do not match");
                return false;
            } else {
                return true;
            }
        }
    </script>
</form>