
<html lang="en" xmlns:th="http://www.thymeleaf.org">


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="/">Flight Pub</a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul th:if="${usr.isLoggedIn()} == false">
          <li><a class="nav-link scrollto " href="/#search">Fights</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto " href="/login">Login/Signup</a></li>
        </ul>
        <ul th:if="${usr.isLoggedIn()} != false">>
          <li><a class="nav-link scrollto " href="/#search">Fights</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto " href="/account"><span th:text="${usr.getUsername()}"></span></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



  