<!DOCTYPE html>
<html lang="en"></html>

<div class="row icon-box" data-aos="zoom-in-left" id="recommendation_fragment" th:fragment="recommendation_fragment">

    <!-- Recommendation location select dropdown ------------------------------------------------------------------------------------------->
    <div>
        <div class="form-floating">
            <select class="form-select" id="recommendationLocation" name="recommendationLocation"
                    onchange="loadRecommendation(this.value)" style="max-width: 300px">
                <option
                        th:each="location : ${recommendationLocation}"
                        th:id="city"
                        th:selected="(${location.locationID} == ${currentLocation.locationID})"
                        th:text="${location.locationID} + ' - ' + ${location.location}"
                        th:value="${location.locationID}">

                </option>
                <option th:if="${LoadingRecommendation} == true"> RECOMMENDATION LOADING...</option>
            </select>
            <label class="form-label" for="recommendationLocation"> Departure Location: </label>
        </div>
    </div>

    <div>
        <div class="row" id="recommendationRow" style="padding-top: 10px;">
            <div class="col-sm-3" th:each="location : ${reco}">
                <div class="card l-1" style="padding: 10px 0 0 20px;" th:with="img=${location.locationID} + '.jpg'">
                    <h3 style="font-size: 1em">&#128293; Popular Location &#128293;</h3>
                    <img style="width: 95%;margin-bottom:10px; border-radius: 10px"
                         th:src="@{/assets/img/recommendation/{image}(image=${img})}"/>
                    <h2 style="font-size: 1.5em"
                        th:text="${currentLocation.locationID  } + ' to ' + ${location.locationID}"></h2>
                    <h3 style="font-size: 1em"
                        th:text="${currentLocation.location} + ' to ' + ${location.location}"></h3>
                    <p>

                        TODO maybe add weather stats or similar if time
                    <p>
                        <button class="btn btn-primary"
                                th:onclick="findFlight([[${currentLocation.location}]], [[${location.location}]])" type="button">Find Flights
                        </button>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
                </div>

            </div>
            <div class="col-sm-3" th:each="location : ${searchRecommendation}"
                 th:if="${usr.getLastSearchedDestination()} != null">
                <div class="card l-1" style="padding: 10px 0 0 20px;" th:with="img=${location.locationID} + '.jpg'">
                    <h3 style="font-size: 1em">&#129488; Similar to Recent Search &#129488;</h3>
                    <img style="width: 95%;margin-bottom:10px; border-radius: 10px"
                         th:src="@{/assets/img/recommendation/{image}(image=${img})}"/>
                    <h2 style="font-size: 1.5em"
                        th:text="${currentLocation.locationID  } + ' to ' + ${location.locationID}"></h2>
                    <h3 style="font-size: 1em"
                        th:text="${currentLocation.location} + ' to ' + ${location.location}"></h3>
                    <p>

                        TODO maybe add weather stats or similar if time
                    <p>
                        <button class="btn start-loading btn-primary"
                                th:onclick="findFlight([[${currentLocation.location}]], [[${location.location}]])" type="button">Find Flights
                        </button>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
                </div>

            </div>
        </div>
        <div class="row loading-skeleton" th:if="${reco} == null">
            <div class="col-sm-3">
                <div class="card l-1" style="padding: 10px 0 0 20px;" th:with="img='ADL.jpg'">
                    <h3 style="font-size: 1em">&#129488; Similar to Recent Search &#129488;</h3>
                    <img style="width: 95%;margin-bottom:10px; border-radius: 10px"
                         th:src="@{/assets/img/recommendation/{image}(image=${img})}"/>
                    <h2 style="font-size: 1.5em">LOCATION to LOCATION</h2>
                    <h3 style="font-size: 1em">LOCATION to LOCATION</h3>
                    <p>
                        TODO maybe add weather stats or similar if time
                    <p>
                        <button class="btn start-loading btn-primary" type="button">Find Flights</button>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card l-1" style="padding: 10px 0 0 20px;" th:with="img='ADL.jpg'">
                    <h3 style="font-size: 1em">&#129488; Similar to Recent Search &#129488;</h3>
                    <img style="width: 95%;margin-bottom:10px; border-radius: 10px"
                         th:src="@{/assets/img/recommendation/{image}(image=${img})}"/>
                    <h2 style="font-size: 1.5em">LOCATION to LOCATION</h2>
                    <h3 style="font-size: 1em">LOCATION to LOCATION</h3>
                    <p>
                        TODO maybe add weather stats or similar if time
                    <p>
                        <button class="btn start-loading btn-primary" type="button">Find Flights</button>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card l-1" style="padding: 10px 0 0 20px;" th:with="img='ADL.jpg'">
                    <h3 style="font-size: 1em">&#129488; Similar to Recent Search &#129488;</h3>
                    <img style="width: 95%;margin-bottom:10px; border-radius: 10px"
                         th:src="@{/assets/img/recommendation/{image}(image=${img})}"/>
                    <h2 style="font-size: 1.5em">LOCATION to LOCATION</h2>
                    <h3 style="font-size: 1em">LOCATION to LOCATION</h3>
                    <p>
                        TODO maybe add weather stats or similar if time
                    <p>
                        <button class="btn start-loading btn-primary" type="button">Find Flights</button>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card l-1" style="padding: 10px 0 0 20px;" th:with="img='ADL.jpg'">
                    <h3 style="font-size: 1em">&#129488; Similar to Recent Search &#129488;</h3>
                    <img style="width: 95%;margin-bottom:10px; border-radius: 10px"
                         th:src="@{/assets/img/recommendation/{image}(image=${img})}"/>
                    <h2 style="font-size: 1.5em">LOCATION to LOCATION</h2>
                    <h3 style="font-size: 1em">LOCATION to LOCATION</h3>
                    <p>
                        TODO maybe add weather stats or similar if time
                    <p>
                        <button class="btn start-loading btn-primary" type="button">Find Flights</button>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /**
     * On document ready
     */
    $(document).ready(function () {
        getLocation()
    })

    /**
     * Get location based on HTML geolocation api
     */
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    // Post lon and lat of for current position
                    $.post("/LocateNearestCity", {
                        lat: position.coords.latitude,
                        lon: position.coords.longitude
                    }).done(function (fragment) {
                        $("#recommendation_fragment").replaceWith(fragment);
                    })
                }, function error(msg) {
                    // If location permission is denied in browser
                    if (msg.PERMISSION_DENIED) {
                        // Load ADL as default
                        loadRecommendation("ADL");
                    } else {
                        console.log("Error getting position. Error code: " + msg.code)
                    }
                }, {maximumAge: 10000, timeout: 5000, enableHighAccuracy: true}
            );
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    /**
     * Loads recommendations for a city
     * @param cityIn input city
     */
    function loadRecommendation(cityIn) {
        // Post city as departure for recommendations
        $.post("/recommendations", {city: cityIn}).done(function (fragment) {
            $("#recommendation_fragment").replaceWith(fragment);
        });
    }

    /**
     * Search for flights for a specific location
     * @param currentLocation current location of user
     * @param destinationLocation desired destination
     */
    function findFlight(currentLocation, destinationLocation) {
        // post to search controller
        postRecommendationSearch("/search", {
            originIn: currentLocation,
            destinationIn: destinationLocation,
            start: new Date().toLocaleDateString('en-CA'),
            end: addMonths(new Date(), 3).toLocaleDateString('en-CA')
        })
    }

    /**
     * Creates a temp form then posts it
     * This ensures browser correctly redirects to posted location
     * @param path Path to post and redirect to
     * @param params Parameters of post
     */
    function postRecommendationSearch(path, params) {
        const form = document.createElement('form');
        form.method = 'post';
        form.action = path;

        // For each parameter create a temp form element
        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();

        $("#loader").css("display", "block");
    }

    /**
     * Add amount of months to a date
     * @param date original date to update
     * @param months number of months to increase date by
     * @returns updated date
     */
    function addMonths(date, months) {
        const d = date.getDate();
        date.setMonth(date.getMonth() + +months);
        if (date.getDate() !== d) {
            date.setDate(0);
        }
        return date;
    }
</script>

