<!DOCTYPE html>
<html lang="en"></html>

<div class="row icon-box" data-aos="zoom-in-left" th:fragment="recommendation_fragment" id="recommendation_fragment">
    <!-- Recommendation location select dropdown ------------------------------------------------------------------------------------------->
    <div>
        <div class="form-floating">
            <select class="form-select" name="recommendationLocation" id="recommendationLocation" onchange="loadRecommendation(this.value)" style="max-width: 300px">
                <option
                        th:each="location : ${recommendationLocation}"
                        th:id="city"
                        th:value="${location.locationID}"
                        th:text="${location.locationID} + ' - ' + ${location.location}" th:selected="(${location.locationID} == ${currentLocation})">

                </option>
                <option th:if="${LoadingRecommendation} == true"> RECOMMENDATION LOADING... </option>
            </select>
            <label for="recommendationLocation" class="form-label"> Departure Location: </label>
        </div>
    </div>

    <div>
        <div id="recommendationRow" class="row" style="padding-top: 10px;">
            <div class="col-sm-3" th:each="flight : ${reco}"  >
                <div class="card l-1"  style="padding: 10px 0 0 20px;" th:with="img=${flight.getDestinationCode()} + '.jpg'">
                    <img th:src="@{/assets/img/{image}(image=${img})}" style="width: 95%;margin-bottom:10px; border-radius: 10px"/>
                    <h2 style="font-size: 1.5em" th:text="${flight.getDepartureCode()} + ' to ' + ${flight.getDestinationCode()}"></h2>
                    <p><em><span th:text="'Departs ' + ${flight.getDepartureCode()} + ': '"></span><span th:text="${flight.getDepartureString()}"></span><br>
                        <span th:text="'Arrives in ' + ${flight.getDestinationCode()} + ': '"></span><span th:text="${flight.getArrivalString()}"></span><br>
                        Airline: <span th:text="${flight.getAirlineCode()}"></span></em></p>
                    <a th:href="'/flight?id=' + ${flight.getFlightID()}" class="btn btn-primary">View Flight</a>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
                </div>

            </div>
        </div>
        <div th:if="${reco} == null">
            <p>There are currently no recommendations</p>
        </div>
    </div>
</div>

<script>
    // // Load current invite list
    // $(document).ready(
    //         fetch("https://ipinfo.io/json?token=b7ed283b1c2771").then(
    //                 (response) => response.json()
    //         ).then(
    //                 (jsonResponse) => {
    //                     loadRecommendation(jsonResponse.city);
    //                 }
    //         )
    // )

    // Load current invite list
    $(document).ready(function () {

        getLocation()
    })



    // Get location based on HTML geolocation api
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                    function (position) {
                        $.post("/LocateNearestCity", {
                            lat: position.coords.latitude,
                            lon: position.coords.longitude
                        }).done(function (fragment) {
                            $("#recommendation_fragment").replaceWith(fragment);
                        })
                    }, function error(msg) {
                        if (msg.PERMISSION_DENIED) {
                            loadRecommendation("ADL");
                        } else {
                            console.log("Error getting position. Error code: " + msg.code)
                        }
                    }, {maximumAge:10000, timeout:5000, enableHighAccuracy: true}
            );
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function loadRecommendation(cityIn) {
        $.post("/recommendations", {city: cityIn}).done(function (fragment) {
            $("#recommendation_fragment").replaceWith(fragment);
        });
    }
</script>
