<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<meta charset="utf-8">

<head th:replace="Fragments/Head"> </head>
<header th:replace="Fragments/Header"> </header>
<div class="container" style="margin-top: 100px;" th:if="${method != 'post'}">
    <div class="row">
        <div class="col-md-9">
            <h1>Booking confirmation</h1>
            <p>We are pleased to inform you that your flight booking has been confirmed with us. Thank You!</p>
            <br><h4>Booking Details</h4><hr></hr>
            <div class="col-sm-9">
                <p>Reservation name:     <b>Alex</b></p>
                <p>Booking created date: <b>20 May 2022</b></p>
                <p>Booking Status:       <b>Confirmed</b></p>
                <p>Total amount:         <b>$1925.89</b></p>
            </div><br><br>
            <div class="row">
                <div class="col-sm-3"> <h4>Booking Code: </h4> <p>3103 0429</p></div>
                <div class="col-sm-3"> <h4>Sydney to Bali</h4><p>01 May 2023</p></div>
                <div class="col-sm-2"> <h4>Duration: </h4><p>09h20m</p></div>
                <div class="col-sm-2"> <h4>Status: </h4><p>Confirmed</p> </div>
            </div>
        </div>
    </div>
</div>





