<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<head th:replace="Fragments/Head"></head>
<!-- ======= Header ======= -->
<header th:replace="Fragments/Header"></header>
<div th:replace="Fragments/FormError" ></div>
<body>
<!-- ======= Hero Section ======= -->
<main id="main">
    <!-- ======= Services Section ======= -->
    <section class="services" id="">
        <div class="container">

            <style>
                input, select {
                    width: 45%;
                    max-width: 250px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px;
                }

                .btn-search {
                    margin-top: -3px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px;
                }
            </style>

            <div class="section-title" data-aos="zoom-out" style="margin-top: 25px">
                <h2>Let's Book!</h2>
                <h3>Your Selected Flights</h3>
            </div>

            <!-- List each flight in session to be booked -->
            <div class="card l-1" style="padding: 10px 0 0 20px;">
                <div>
                    <hr>
                    <div class="row icon-box" data-aos="zoom-in-left">

                        <h2>Selected Flights</h2>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Flight Number</th>
                                <th scope="col">Departure Date</th>
                                <th scope="col">Flight</th>
                                <th scope="col">Seats</th>
                                <th scope="col">Price</th>
                                <th scope="col">Update</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:each="br : ${cart}">
                                <tr>
                                    <th scope="row" th:text="${br.getFlight().getFlightNumber()}"></th>
                                    <td th:text="${br.getDepartureDate()}"></td>
                                    <td th:text="${br.getFlight().getDepartureName()} + ' to ' + ${br.getFlight().getDestinationName()}"></td>
                                    <td th:text="${br.getTotalSeats()}"></td>
                                    <td th:text="'$' + ${br.getPrice()}"></td>
                                    <td><a class="btn btn-danger" th:href="@{'/cart/remove?id=' + ${br.getId()}}">Remove
                                        Flight</a></td>
                                </tr>
                                <div th:each="i : ${#numbers.sequence(0, br.getAllSeatsList().size()-1)}">
                                    <div th:if="${i == 0}">
                                        <tr>
                                            <th scope="row" th:text="'Seats Selected :'"></th>
                                            <td th:text="${br.getAllSeatsList().get(i)}"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </div>
                                    <div th:if="${i != 0}">
                                        <tr>
                                            <th scope="row"></th>
                                            <td th:text="${br.getAllSeatsList().get(i)}"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </div>
                                </div>
                                <tr>
                                    <th></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                        <a class="btn btn-success" href="/checkout" style="max-width: 200px">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
            <hr/>
            <Br><Br>
            <!-- Submit Booking Request >> Checkout page to process payment -->
        </div>
    </section><!-- End CTA Section -->
</main>
<!-- ======= Footer ======= -->
<lower th:replace="Fragments/Footer"></lower>
</body>
<script th:inline="javascript"></script>
</html>