<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<head th:replace="Fragments/Head"></head>
<!-- ======= Header ======= -->
<header th:replace="Fragments/Header"></header>
<body>
<!-- ======= Hero Section ======= -->
<main id="main">
    <!-- ======= Services Section ======= -->
    <section class="services" id="">
        <div class="container">
            <style>
                input, select {
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px;
                }
            </style>

            <div class="section-title" data-aos="zoom-out" style="margin-top: 25px">
                <h2>Show me the money!</h2>
                <h3>Traveller Information & Payment</h3>
            </div>

            <div>
                <form id="seatBooking" method="post" name="seatBooking" th:action="@{/checkout}"  th:object="${TravellerContainer}">
                    <!-- List each flight in session to be booked -->
                    <div class="card l-1" style="padding: 10px 0 0 20px;">
                        <div th:each="flight : ${checkout}">
                            <div class="row icon-box" data-aos="zoom-in-left">
                                <h2><span th:text="'Selected seats for ' + ${flight.getFlight().getFlightNumber()} + ' : '
                                + ${flight.getFlight().getDepartureCode()} + ' to ' + ${flight.getFlight().getDestinationCode()}
                                + ' departing ' + ${flight.getDepartureDate()}"></span></h2>
                                <Br>
                                <div th:each="i : ${#numbers.sequence(0, flight.getAllSeatsList().size()-1)}">
                                    <table class="table" th:id="${flight.getFlight().getFlightID()} + 'traveller' + ${i}">
                                        <thead>
                                        <tr>
                                            <h3 style="font-size: 1.2em"><span
                                                    th:text="'Traveller #' + ${i + 1} + ' : ' + ${flight.getAllSeatsList()[i]}"></span>
                                            </h3>
                                        </tr>
                                        </thead>
                                        <!-- For Each Seat Requested -->
                                        <tbody>
                                        <!-- Traveller -->
                                        <tr>
                                            <th>Select Traveller from Account:</th>
                                        </tr>
                                        <!-- OR -->
                                        <th>OR add new Traveller details:</th>
                                        <tr>
                                            <!-- Add new Traveller Details -->
                                            <!-- Traveller Info [Input]-->
                                            <td>
                                                <label th:for="'travellers['+${i}+'].title'">Title</label>
                                                <select class="form-select"
                                                        th:id="'title' + ${i}" th:name="'travellers['+${i}+'].title'">
                                                    <option value="default">Title</option>
                                                    <option value="Master">Master</option>
                                                    <option value="Miss">Miss</option>
                                                    <option value="Mr">Mr</option>
                                                    <option value="Mrs">Mrs</option>
                                                    <option value="Ms">Ms</option>
                                                    <option value="Doctor">Dr</option>
                                                </select>
                                            </td>
                                            <td><label th:for="'travellers['+${i}+'].firstName'">First Name</label>
                                                <input class="form-control"
                                                       placeholder="John" th:id="'firstName' + ${i}" th:name="'travellers['+${i}+'].firstName'"  type="text"></td>
                                            <td><label th:for="'travellers['+${i}+'].lastName'">Surname</label>
                                                <input class="form-control"
                                                       placeholder="Smith" th:id="'lastName' + ${i}" th:name="'travellers['+${i}+'].lastName'" type="text"></td>
                                        </tr>
                                        <tr>
                                            <td><label th:for="'travellers['+${i}+'].dob'">Date of Birth</label>
                                                <input class="form-control" th:id="'dob' + ${i}" th:name="'travellers['+${i}+'].dob'"
                                                       type="date"></td>
                                        </tr>
                                        <tr>
                                            <!-- Save Traveller to Account [Checkbox]-->
                                            <th><label th:for="'travellers['+${i}+'].saveTraveller'">Save new Traveller to Account?</label></th>
                                            <td><input style="width: 50px;"
                                                       th:id="'saveTraveller' + ${i}" th:name="'travellers['+${i}+'].saveTraveller'"  type="checkbox"></td>
                                            <td><input class="form-control"
                                                       th:id="'seat' + ${i}" th:name="'travellers['+${i}+'].seat'"  th:value="${flight.getAllSeatsList()[i]}"
                                                       type="hidden">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <Br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <Br>
                    <hr/>
                    <Br>
                    <div>
                        <div class="row icon-box" data-aos="zoom-in-left">
                            <table class="table">
                                <thead>
                                <tr>
                                    <h2>Booking Summary</h2>
                                    <th scope="col">Flight Number</th>
                                    <th scope="col">Departure Date</th>
                                    <th scope="col">Flight</th>
                                    <th scope="col">Seats</th>
                                    <th scope="col">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <div th:each="br : ${checkout}">
                                    <tr>
                                        <td scope="row" th:text="${br.getFlight().getFlightNumber()}"></td>
                                        <td th:text="${br.getDepartureDate()}"></td>
                                        <td th:text="${br.getFlight().getDepartureCode()} + ' >>> ' + ${br.getFlight().getDestinationCode()}"></td>
                                        <td th:text="${br.getTotalSeats()}"></td>
                                        <td class="price" th:data="${br.getPrice()}"
                                            th:text="'$' + ${br.getPrice()}"></td>
                                    </tr>
                                </div>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Total:</th>
                                    <th id="showTotal"> $<span id="cost">0</span></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <Br>
                    <hr/>
                    <Br>
                    <div>
                        <div class="row icon-box" data-aos="zoom-in-left">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <h2>Frequent Flyer Membership Details</h2>
                                    <!-- FF Details [Input]-->
                                    <td>
                                        <label>Frequent Flyer Number</label>
                                        <input class="form-control" th:id="membership" th:name="membership" placeholder="XXX XXX XXXX"
                                               type="text">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <Br>
                    <hr/>
                    <Br>
                    <div>
                        <div class="row icon-box" data-aos="zoom-in-left">
                            <table class="table" id="payment">
                                <tbody>
                                <!-- Enter Payment Information -->
                                <tr>
                                    <h2>Payment Details</h2>
                                    <!-- Card Number [Input] -->
                                    <td>
                                        <label for="card-number">Card Number</label>
                                        <input class="form-control" id="card-number" maxlength="19" name="card-number"
                                               pattern="[0-9\s] {13,19}" placeholder="XXXX XXXX XXXX XXXX"
                                               type="number"><br>
                                    </td>
                                    <td>
                                        <label for="card-name">Name on card</label>
                                        <input class="form-control" id="card-name" placeholder="John J Smith"
                                               required type="text"><br>
                                    </td>
                                    <!-- Card Expiry [Input] -->
                                    <td>
                                        <label for="card-expiry">Card Expiry</label>
                                        <input class="form-control" id="card-expiry" name="card-number"
                                               type="month"><br><br>
                                    </td>
                                    <!-- Card Security Code [Input] -->
                                    <td>
                                        <label for="card-security">3-digit Security Code</label>
                                        <input class="form-control" id="card-security" maxlength="3"
                                               name="card-security" placeholder="XXX" type="number"><br>
                                    </td>
                                </tr>
                                <tr>
                                    <input class="form-control" th:id="accountEmail" th:name="accountEmail" th:value="${usr.getEmail()}"
                                           type="hidden">
                                </tr>
                                <tr>
                                    <!-- Submit Payment Request -->
                                    <td>
                                        <button class="btn btn-success" href="/bookingConfirmation" style="max-width: 200px"
                                                type="submit">Pay Now
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- End CTA Section -->
</main>
<!-- ======= Footer ======= -->
<lower th:replace="Fragments/Footer"></lower>
</body>
<!-- Validate CC Payment >> Confirmation page upon success -->
<script th:inline="javascript">
    function validateCreditCard() {
        let cardNumber = document.getElementById("card-number").value;
        let digit = 0, check = 0, even = false;

        if (!cardNumber || /[^\d-\s]/.test(cardNumber)) {
            alert("Please enter a valid credit card number.");
            <!--cardNumber.innerHTML = "Please enter a valid credit card number";-->
            return false;
        }

        for (let i = cardNumber.length - 1; i >= 0; i--) {
            digit = parseInt(cardNumber.charAt(i), 10);
            if (even) {
                if ((digit *= 2) > 9) digit -= 9;
            }
            check += digit;
            even = !even;
        }
        if ((check % 10) !== 0) {
            alert("Please enter a valid credit card number.");
            return false;
        }
        return (check % 10) === 0;
    }

    function updatePrice() {
        let price = 0;
        $('.price').each(function () {
            price += ($(this).attr('data') * 1);
        })
        price = Math.round((price + Number.EPSILON) * 100) / 100

        $('#cost').html(price);
    }

    $(document).ready(updatePrice());
</script>
</html>