<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="Fragments/Head"> </head>
<header th:replace="Fragments/Header"> </header>
<div class="container">
    <main id="main" style="margin: 100px">
        <!-- ======= Services Section ======= -->
        <h1>Oh?..</h1>
        <p th:if="${exists.equals('User already exists')}">A user with this email already exists.. Would you like to <a href="/login">login?</a></p>
        <p th:if="${Error.equals('General Error')}">A user with this email already exists.. Would you like to <a href="/login">login?</a></p>
       <!-- <p>Somethings gone horribly wrong... or you're lost... Wanna head back <a href="/">home?</a></p> -->
    </main>
</div>

<lower th:replace="Fragments/Footer"> </lower>


