<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<head th:replace="Fragments/Head"> </head>
<!-- ======= Header ======= -->
<header th:replace="Fragments/Header"> </header>
<body>

<!-- ======= Hero Section ======= -->

<main id="main">
    <!-- ======= Services Section ======= -->

    <section id = "recommendation" class = "services">
        <div class="container">


            <style>
                input, select{
                    width: 45%;
                    max-width: 250px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px;
                }
                .btn-search{
                    margin-top: -3px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px;
                }
            </style>

            <div class="section-title" data-aos="zoom-out" style="margin-top: 25px">
                <h2>Let's Book!</h2>
                <h3>Your Selected Flights</h3>
            </div>
            <!-- List each flight in session to be booked -->
            <div class="card l-1" style="padding: 10px 0 0 20px;">
                <div class="row" style="padding-top: 10px;">
                    <div class="col-sm-4">
                        <p><b>Departs: </b><span th:text="${Flight.getOriginID()}"></span> @ <span th:text="${Flight.getDepartureTime()}"></span></p>
                        <p><b>Arrives: </b><span th:text="${Flight.getDestinationID()}"></span>  @  <span th:text="${Flight.getArrivalTime()}"></span></p>
                        <p><b>Airline: </b> <span th:text="${Flight.getAirline()}"></span></p>
                        <p><b>Seats Available: </b> <span th:text="${Flight.getBookedSeats()} - ${Flight.getMaxSeats()}"></span></b></p>
                        <p><b>Ticket Price: $</b> <span th:text="${Flight.getTicketPrice()}"></span></p>
                    </div>
                </div>
            </div>
            <!-- List each flight in session to be booked -->
            <hr /><Br><Br>
        </div>
    </section><!-- End Cta Section -->
</main>
<!-- ======= Footer ======= -->
<lower th:replace="Fragments/Footer"> </lower>
</body>
<script th:inline="javascript"></script>
</html>