<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/Head"></head>
<header th:replace="Fragments/Header"></header>
<body>
<!-- ======= Hero Section ======= -->
<main id="main">
    <!-- ======= Services Section ======= -->
    <section class="services" id="flight">
        <div class="container">
            <style>
                input, select {
                    width: 45%;
                    max-width: 250px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px;
                }

                .btn-search {
                    margin-top: -3px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px;
                }
            </style>
            <div class="section-title" data-aos="zoom-out" style="margin-top: 25px">
                <h2>Explore Together</h2>
                <p>Your Selected Flight</p>
            </div>

            <div class="card l-1" style="padding: 10px 0 0 20px;">
                <div class="row" style="padding-top: 10px;">
                    <div class="col-sm-4">
                        <p><b>Departs: </b><span th:text="${Flight.getDepartureName()}"></span> @ <span
                                th:text="${Flight.longToDate(Flight.getDepartureTime())}"></span></p>
                        <p><b>Arrives: </b><span th:text="${Flight.getDestinationName()}"></span> @ <span
                                th:text="${Flight.longToDate(Flight.getArrivalTime())}"></span></p>
                        <p><b>Airline: </b> <span th:text="${Flight.getAirlineCode()}"></span></p>
                    </div>
                    <div class="col-sm-8">
                        <style>#chartdiv {
                            width: 100%;
                            height: 200px;
                        }
                        </style>
                        <div id="chartdiv"></div>
                    </div>
                </div>
                <form id="seatSelection" method="post" name="seatSelection" th:action="@{/cart/direct}"
                      th:object="${BookingRequest}">
                    <p><b>Available Seats on <span th:text="${Flight.getFlightNumber()}"></span></b></p>
                    <div class="accordion" id="accordionExample" style="margin-right: 20px;">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFC">
                                <button aria-controls="collapseFC" aria-expanded="false" class="accordion-button"
                                        data-bs-target="#collapseFC" data-bs-toggle="collapse" type="button">
                                    First Class
                                </button>
                            </h2>
                            <div aria-labelledby="headingFC" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                                 id="collapseFC">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-md-4" id="firSeatsAvail" th:each="availSeats:${firstClass}">
                                            <p>
                                                <b>Ticket Type: </b><span th:text="${availSeats[0]}"></span></br>
                                                <b>Number of Seats Available: </b><span
                                                    th:text="${availSeats[1]}"></span></br>
                                                <b>Price per Seat: </b><span
                                                    th:text="'$' + ${availSeats[3]}"></span></br>
                                            </p>
                                            <span th:if="${availSeats[0] == 'Standard'}">
                                                <select id="firStandard" name="firStandard" th:data="${availSeats[3]}">
                                                    <option selected value="">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                            <span th:if="${availSeats[0] == 'Platinum'}">
                                                <select id="firPlatinum" name="firPlatinum" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                            <span th:if="${availSeats[0] == 'Long Distance'}">
                                                <select id="firLongDistance" name="firLongDistance"
                                                        th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                            <span th:if="${availSeats[0] == 'Standby'}">
                                                <select id="firStandby" name="firStandby" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                            <span th:if="${availSeats[0] == 'Premium Discounted'}">
                                                <select id="firPremDisc" name="firPremDisc" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                            <span th:if="${availSeats[0] == 'Discounted'}">
                                                <select id="firDiscounted" name="firDiscounted"
                                                        th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                            <span th:if="${availSeats[0] == 'Premium'}">
                                                <select id="firPremium" name="firPremium" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingBC">
                                    <button aria-controls="collapseBC" aria-expanded="false" class="accordion-button"
                                            data-bs-target="#collapseBC" data-bs-toggle="collapse"
                                            type="button">
                                        Business Class
                                    </button>
                                </h2>
                                <div aria-labelledby="headingBC" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                                     id="collapseBC">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-4" th:each="availSeats:${businessClass}">
                                                <p>
                                                    <b>Ticket Type: </b><span th:text="${availSeats[0]}"></span></br>
                                                    <b>Number of Seats Available: </b><span
                                                        th:text="${availSeats[1]}"></span></br>
                                                    <b>Price per Seat: </b><span
                                                        th:text="'$' + ${availSeats[3]}"></span></br>
                                                </p>
                                                <span th:if="${availSeats[0] == 'Standard'}">
                                                <select id="busStandard" name="busStandard" th:data="${availSeats[3]}">
                                                    <option selected value="">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Platinum'}">
                                                 <select id="busPlatinum" name="busPlatinum" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Long Distance'}">
                                                 <select id="busLongDistance" name="busLongDistance"
                                                         th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Standby'}">
                                                 <select id="busStandby" name="busStandby" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Premium Discounted'}">
                                                 <select id="busPremDisc" name="busPremDisc" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Discounted'}">
                                                 <select id="busDiscounted" name="busDiscounted"
                                                         th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Premium'}">
                                                 <select id="busPremium" name="busPremium" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button aria-controls="collapseOne" aria-expanded="false" class="accordion-button"
                                            data-bs-target="#collapseOne" data-bs-toggle="collapse"
                                            type="button">
                                        Premium Economy
                                    </button>
                                </h2>
                                <div aria-labelledby="headingOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                                     id="collapseOne">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-4" th:each="availSeats:${premiumEconomy}">
                                                <p>
                                                    <b>Ticket Type: </b><span th:text="${availSeats[0]}"></span></br>
                                                    <b>Number of Seats Available: </b><span
                                                        th:text="${availSeats[1]}"></span></br>
                                                    <b>Price per Seat: </b><span
                                                        th:text="'$' + ${availSeats[3]}"></span></br>
                                                </p>
                                                <span th:if="${availSeats[0] == 'Standard'}">
                                                 <select id="pmeStandard" name="pmeStandard" th:data="${availSeats[3]}">
                                                    <option selected value="">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Platinum'}">
                                                 <select id="pmePlatinum" name="pmePlatinum" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Long Distance'}">
                                                 <select id="pmeLongDistance" name="pmeLongDistance"
                                                         th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Standby'}">
                                                 <select id="pmeStandby" name="pmeStandby" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Premium Discounted'}">
                                                 <select id="pmePremDisc" name="pmePremDisc" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Discounted'}">
                                                 <select id="pmeDiscounted" name="pmeDiscounted"
                                                         th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Premium'}">
                                                 <select id="pmePremium" name="pmePremium" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEconomy">
                                    <button aria-controls="collapseEconomy" aria-expanded="false" class="accordion-button"
                                            data-bs-target="#collapseEconomy" data-bs-toggle="collapse"
                                            type="button">
                                        Economy
                                    </button>
                                </h2>
                                <div aria-labelledby="headingEconomy" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample" id="collapseEconomy">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-4" th:each="availSeats:${economyClass}">
                                                <p>
                                                    <b>Ticket Type: </b><span th:text="${availSeats[0]}"></span></br>
                                                    <b>Number of Seats Available: </b><span
                                                        th:text="${availSeats[1]}"></span></br>
                                                    <b>Price per Seat: </b><span id="ecoSeatPrice"
                                                                                 th:text="${availSeats[3]}"></span></br>
                                                </p>
                                                <span th:if="${availSeats[0] == 'Standard'}">
                                                 <select id="ecoStandard" name="ecoStandard" th:data="${availSeats[3]}">
                                                    <option selected value="">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Platinum'}">
                                                 <select id="ecoPlatinum" name="ecoPlatinum" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Long Distance'}">
                                                 <select id="ecoLongDistance" name="ecoLongDistance"
                                                         th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Standby'}">
                                                 <select id="ecoStandby" name="ecoStandby" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Premium Discounted'}">
                                                 <select id="ecoPremDisc" name="ecoPremDisc" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Discounted'}">
                                                 <select id="ecoDiscounted" name="ecoDiscounted"
                                                         th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Premium'}">
                                                 <select id="ecoPremium" name="ecoPremium" th:data="${availSeats[3]}">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><b>Total Seats: </b><span id="totalSeats">0</span></p>
                    <p id="showTotal"><b>Total Cost:</b> $<span id="cost">0</span></p>
                    <div th:if="${usr.isLoggedIn()} != false">
                        <button class="btn btn-primary" type="submit">Add to Cart</button>

                        <a class="btn btn-primary" th:href="@{'/wishlist?id=' +${Flight.getFlightID()}}">Add Location To
                            Wishlist</a>

                    </div>
                    <div th:if="${usr.isLoggedIn()} == false">
                        <a class="btn btn-success" th:href="@{'/login?redirect=flight?id=' + ${Flight.getFlightID()}}"
                           type="submit">Login to Book</a><Br><Br>
                    </div>
                </form>
                <br><br>
            </div>

            <hr/>
            <Br><Br>
            <div class="row">
                <div class="col-md-6" style="padding-left: 20px; ">
                    <div class="section-title" data-aos="zoom-out">
                        <h2>Premium Experience</h2>
                        <p>What To Expect With QANTAS</p>
                    </div>
                    <p>
                        Qantas' Fly Well program brings together a number of wellbeing measures to give you
                        peace-of-mind from takeoff to touchdown.
                        <br><br>
                        Fly away knowing the safety, health and wellbeing of customers and people is and always will be,
                        the highest priority. Thanks for respecting each other and our team, and helping to create a
                        positive environment for everyone.
                        <br><br>
                        Note: products and services featured may vary at airport locations.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="section-title" data-aos="zoom-out">
                        <h2>Sharing is Caring</h2>
                        <p>Get The Gang Together</p>
                    </div>
                    <div class="card l-1" data-aos="zoom-in-left">
                        <p>Did you know that Flight Hub allows multiple accounts to join together as a group?!</p>
                        <p>Create memories together, with an easy to use group booking feature, where you can
                            collaborate and decide on what suits you, then, once you're all set, allocate seating
                            together but pay separately!</p>
                        <div th:if="${usr.isLoggedIn()} == false">
                            <a class="btn btn-success" th:href="@{'/login?redirect=flight?id=' + ${Flight.getFlightID()}}"
                               type="submit">Login to Create a Group</a><Br><Br>
                        </div>
                        <div th:if="${usr.isLoggedIn()} == true">
                            <form th:replace="Fragments/Forms :: #createGroupForm"></form>
                        </div>
                    </div>

                    <div th:if="${usr.isLoggedIn()} == true">
                        <div th:replace="Fragments/Groups/GroupList">
                            To Be Replaced
                        </div>
                    </div>

                </div>
            </div>
            <hr/>
        </div>
    </section>
    <!-- End Cta Section -->
    <!-- ======= Footer ======= -->
    <lower th:replace="Fragments/Footer"></lower>
    <!-- Template Main JS File -->
</main>
</body>
<script th:inline="javascript">

    function updatePrice() {
        let seats = 0;
        let price = 0;
        $('select').each(function () {
            price += ($(this).val() * 1) * ($(this).attr('data') * 1);
            seats += ($(this).val() * 1);
        })
        price = Math.round((price + Number.EPSILON) * 100) / 100

        $('#cost').html(price);
        $('#totalSeats').html(seats);
    }

    $('select').on('change', function () {
        let seats = 0;
        let price = 0;
        $('select').each(function () {
            price += ($(this).val() * 1) * ($(this).attr('data') * 1);
            seats += ($(this).val() * 1);
        })
        price = Math.round((price + Number.EPSILON) * 100) / 100

        $('#cost').html(price);
        $('#totalSeats').html(seats);
    });

    $(document).ready(updatePrice());

</script>
<script th:inline="javascript">
    am4core.useTheme(am4themes_animated);

    // Create map instance
    var chart = am4core.create("chartdiv", am4maps.MapChart);

    // Set map definition
    chart.geodata = am4geodata_worldHigh;

    // Set projection
    chart.projection = new am4maps.projections.Miller();

    // Create map polygon series
    var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

    // Exclude Antartica
    polygonSeries.exclude = ["AQ"];

    // Make map load polygon (like country names) data from GeoJSON
    polygonSeries.useGeodata = true;

    // Use series data to set custom zoom points for countries
    polygonSeries.data = [{
        "id": "FLIGHT",
        "zoomLevel": 2,
        "zoomGeoPoint": {
            "latitude": [[${(Dep.getLatitude() + Dest.getLatitude()) / 2}]],
            "longitude": [[${(Dep.getLongitude() + Dest.getLongitude()) / 2}]]
        }

    }];

    polygonSeries.dataFields.zoomLevel = "zoomLevel";
    polygonSeries.dataFields.zoomGeoPoint = "zoomGeoPoint";

    // Configure series
    var polygonTemplate = polygonSeries.mapPolygons.template;
    polygonTemplate.tooltipText = "{name}";
    polygonTemplate.fill = am4core.color("#74B266");

    // Create hover state and set alternative fill color
    var hs = polygonTemplate.states.create("hover");
    hs.properties.fill = am4core.color("#367B25");


    chart.events.on("ready", function (ev) {
        var target = polygonSeries.getPolygonById("FLIGHT");

        // Pre-zoom
        chart.zoomToMapObject(target);

        // Set active state
        setTimeout(function () {
            target.isActive = true;
        }, 1000);
    });

    var imageSeries = chart.series.push(new am4maps.MapImageSeries());

    var imageSeriesTemplate = imageSeries.mapImages.template;
    var circle = imageSeriesTemplate.createChild(am4core.Circle);
    circle.radius = 8;
    circle.fill = am4core.color("#e03e96");
    circle.stroke = am4core.color("#FFFFFF");
    circle.strokeWidth = 3;
    circle.nonScaling = true;
    circle.tooltipText = "{title}";

    // Set property fields
    imageSeriesTemplate.propertyFields.latitude = "latitude";
    imageSeriesTemplate.propertyFields.longitude = "longitude";

    // Add data for the three cities
    imageSeries.data = [{
        "latitude": [[${Dep.getLatitude()}]],
        "longitude": [[${Dep.getLongitude()}]],
        "title": [[${Dep.getLocation()}]]
    }, {
        "latitude": [[${Dest.getLatitude()}]],
        "longitude": [[${Dest.getLongitude()}]],
        "title": [[${Dest.getLocation()}]]
    }];

    // Add line series
    var lineSeries = chart.series.push(new am4maps.MapLineSeries());
    lineSeries.mapLines.template.strokeWidth = 1;
    lineSeries.mapLines.template.stroke = am4core.color("#e03e96");
    lineSeries.data = [{
        "multiGeoLine": [
            [
                {"latitude": [[${Dep.getLatitude()}]], "longitude": [[${Dep.getLongitude()}]]},
                {"latitude": [[${Dest.getLatitude()}]], "longitude": [[${Dest.getLongitude()}]],}
            ]
        ]
    }];


</script>
</html>

