
<html lang="en" xmlns:th="http://www.thymeleaf.org">


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="/">Flight Hub</a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Group Bookings</a></li>
          <li><a class="nav-link scrollto" href="#services">Flights</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Login/Signup</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



  