<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- ======= Header ======= -->
<head th:replace="Fragments/Head"> </head>
<header id="header" class="fixed-top d-flex align-items-center  ">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/">Flight Pub</a></h1>

        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/#search">Fights</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="nav-link scrollto " href="/login">Login/Signup</a></li>
            </ul>
            <ul>
                <li><a class="nav-link scrollto " href="/#search">Fights</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="nav-link scrollto " href="/logout">Logout</a></li>
                <li class="dropdown">
                    <a class="nav-link scrollto dropdown-toggle" data-toggle="dropdown" href="/#notification">Notifications
                        <span class="badge">2</span> </a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link scrollto " href="/booking" style="font-weight: bold">Booking confirmed</a></li>
                        <li><a class="nav-link scrollto " href="/newuser" style="font-weight: bold">Alex added to the group</a></li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-6">
            <h1>Alex has added to the group</h1>
            <br><br>
        </div>
    </div>
</div>














