<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<meta charset="utf-8">

<head th:replace="Fragments/Head"> </head>
<header th:replace="Fragments/Header"> </header>
<div class="container" style="margin-top: 100px;" th:if="${method != 'post'}">
  <div class="row">
    <div class="col-md-6">

      <div class="card l-2">
        <h1>Register Today!</h1>
        <form th:replace="Fragments/Forms :: #registerUser"> </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card l-2">
        <h2>Already have account?</h2>
        <p><b>Head to the Login Page</b><Br>
          It's more than just a flight finder! Create group with your friends, and plan the dream group getaway... or if flying solo is more your thing, get real time recommendations on the hottest flights and world events!
        </p>
        <a href="/Login" class="btn btn-primary">Login!</a>
      </div>
    </div>

  </div>

</div>

<div class="container" style="margin-top: 100px;" th:if="${method == 'post'}">
  <p th:text="'Email: ' + ${user.getEmail()}"></p>
  <p th:text="'Hashed Password: ' + ${user.getPassword()}"></p>

</div>
<!--- something needs to go here -->

<lower th:replace="Fragments/Footer"> </lower>





