<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="Fragments/Head"> </head>
<header th:replace="Fragments/Header"> </header>
<div class="container">
  <div id="main" style="margin-top: 100px"  class="row">
    <form th:replace="Fragments/Forms :: #advancedSearch"> </form>
    <div class="col-md-12" >
      <h1 th:text="${search.getOriginIn()} + ' -> ' + ${search.getDestinationIn()}"></h1>

      <div class="card l-1" th:each="flight : ${flights}" style="padding: 10px 0 0 20px;">
        <div class="row" style="padding-top: 10px;">
          <div class="col-sm-4">
            <p><b><span th:text="'Departs ' + ${flight.getOriginID()} + ': '"></span></b><span th:text="${flight.getDepartureTime()}"></span></p>
            <p><b><span th:text="'Arrives in ' + ${flight.getDestinationID()} + ': '"></span></b><span th:text="${flight.getArrivalTime()}"></span></p>
          </div>
          <div class="col-sm-4">
            <p><b>Airline: </b><span th:text="${flight.getAirline()}"></span></p>
            <p><b>Tickets Start At:</b><span th:text="' $' + ${flight.getTicketPrice()}"></span></p>
          </div>
          <div class="col-sm-4"  style="padding-top: 10px;">
                <button type="submit" class="btn btn-primary">Book Now</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-link">Bookmark</button>
          </div>
        </div>
      </div>
      <div th:if="${flights.size()} == 0">
        <p>There are currently no flights that match this search</p>
      </div>
    </div>
  </div>
</div>
<lower th:replace="Fragments/Footer"> </lower>



