<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="Fragments/Head"> </head>
<header th:replace="Fragments/Header"> </header>
<div class="container">
  <div id="main" style="margin-top: 100px"  >
    <div class="card l-1" data-aos="zoom-in-left">
      <form th:replace="Fragments/Forms :: #advancedSearch"> </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12" >
      <h1 th:text="${search.getOriginIn()} + ' -> ' + ${search.getDestinationIn()}"></h1>

      <div class="card l-1" th:each="flight : ${flights}" style="padding: 10px 0 0 20px;">
        <div class="row" style="padding-top: 10px;">
          <div class="col-sm-4">
            <p><b><span th:text="'Departs ' + ${flight.getOriginID()} + ': '"></span></b><span th:text="${flight.getDepartureTime()}"></span></p>
            <p><b><span th:text="'Arrives in ' + ${flight.getDestinationID()} + ': '"></span></b><span th:text="${flight.getArrivalTime()}"></span></p>
          </div>
          <div class="col-sm-4">
            <p><b>Airline: </b><span th:text="${flight.getAirline()}"></span></p>
            <p><b>Tickets Start At:</b><span th:text="' $' + ${flight.getTicketPrice()}"></span></p>
          </div>
          <div class="col-sm-4"  style="padding-top: 10px;"><br>
                <a th:href="'/flight?id=' + ${flight.getFlightID()}" class="btn btn-primary">View Flight</a>&nbsp;&nbsp;
            <button type="submit" class="btn btn-link">Bookmark</button>
          </div>
        </div>
      </div>

      <hr>

      <div class="card l-1" th:each="flight : ${flightsSingleStop}" style="padding: 10px 0 0 20px;">
        <div class="row" style="padding-top: 10px;">
          <div class="col-sm-4">
            <p><b><span th:text="'Departs ' + ${flight.firstFlight.getOriginID()} + ': '"></span></b><span th:text="${flight.firstFlight.getDepartureTime()}"></span></p>
            <p><b><span th:text="'Arrives in ' + ${flight.firstFlight.getDestinationID()} + ': '"></span></b><span th:text="${flight.firstFlight.getArrivalTime()}"></span></p>
            <hr>
            <p><b><span th:text="'Departs ' + ${flight.secondFlight.getOriginID()} + ': '"></span></b><span th:text="${flight.secondFlight.getDepartureTime()}"></span></p>
            <p><b><span th:text="'Arrives in ' + ${flight.secondFlight.getDestinationID()} + ': '"></span></b><span th:text="${flight.secondFlight.getArrivalTime()}"></span></p>
          </div>
          <div class="col-sm-4">
            <p><b>Airline: </b><span th:text="${flight.firstFlight.getAirline()}"></span>, <span th:text="${flight.secondFlight.getAirline()}"></span></p>
            <p><b>Tickets Start At:</b><span th:text="' $' + ${flight.firstFlight.getTicketPrice()+flight.secondFlight.getTicketPrice()}"></span></p>
          </div>
          <div class="col-sm-4"  style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary">Book Now</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-link">Bookmark</button>
          </div>
        </div>
      </div>

      <hr>

      <div class="card l-1" th:each="flight : ${flightsMultiStop}" style="padding: 10px 0 0 20px;">
        <div class="row" style="padding-top: 10px;">
          <div class="col-sm-4">
            <p><b><span th:text="'Departs ' + ${flight.firstFlight.getOriginID()} + ': '"></span></b><span th:text="${flight.firstFlight.getDepartureTime()}"></span></p>
            <p><b><span th:text="'Arrives in ' + ${flight.firstFlight.getDestinationID()} + ': '"></span></b><span th:text="${flight.firstFlight.getArrivalTime()}"></span></p>
            <hr>
            <p><b><span th:text="'Departs ' + ${flight.secondFlight.getOriginID()} + ': '"></span></b><span th:text="${flight.secondFlight.getDepartureTime()}"></span></p>
            <p><b><span th:text="'Arrives in ' + ${flight.secondFlight.getDestinationID()} + ': '"></span></b><span th:text="${flight.secondFlight.getArrivalTime()}"></span></p>
            <hr>
            <p><b><span th:text="'Departs ' + ${flight.thirdFlight.getOriginID()} + ': '"></span></b><span th:text="${flight.thirdFlight.getDepartureTime()}"></span></p>
            <p><b><span th:text="'Arrives in ' + ${flight.thirdFlight.getDestinationID()} + ': '"></span></b><span th:text="${flight.thirdFlight.getArrivalTime()}"></span></p>
          </div>
          <div class="col-sm-4">
            <p><b>Airline: </b><span th:text="${flight.firstFlight.getAirline()}"></span>, <span th:text="${flight.secondFlight.getAirline()}"></span>, <span th:text="${flight.thirdFlight.getAirline()}"></span></p>
            <p><b>Tickets Start At:</b><span th:text="' $' + ${flight.firstFlight.getTicketPrice()+flight.secondFlight.getTicketPrice()+flight.thirdFlight.getTicketPrice()}"></span></p>
          </div>
          <div class="col-sm-4"  style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary">Book Now</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-link">Bookmark</button>
          </div>
        </div>
      </div>
      <div th:if="${flights.size()} == 0">
        <p>There are currently no flights that match this search</p>
      </div>
    </div>
  </div>
</div>
<lower th:replace="Fragments/Footer"> </lower>



