<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/Head"></head>
<header th:replace="Fragments/Header"></header>
<div th:replace="Fragments/FormError" ></div>
<body>
<!-- ======= Hero Section ======= -->
<main id="main">
    <!-- ======= Services Section ======= -->
    <section class="services" id="flight">
        <div class="container">
            <style>
                input, select {
                    width: 45%;
                    max-width: 250px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px;
                }

                .btn-search {
                    margin-top: -3px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px;
                }
            </style>
            <div class="section-title" data-aos="zoom-out" style="margin-top: 25px">
                <h2>Explore Together</h2>
                <p>Your Selected Flight</p>
            </div>

            <form method="post" name="seatSelection" th="seatSelection"
                  th:action="@{/cart/indirect}" th:object="${BookingRequestContainer}">
                <div th:each="i: ${#numbers.sequence(0, Flight.size()-1)}">
                    <div class="card l-1" style="padding: 10px 0 0 20px;">
                        <div class="row" style="padding-top: 10px;">
                            <div class="col-sm-4">
                                <h3 th:text="'Leg ' + ${i+1}"></h3>
                                <p><b>Departs: </b><span th:text="${Flight.get(i).getDepartureName()}"></span> @ <span
                                        th:text="${Flight.get(i).getDepartureString()}"></span></p>
                                <p><b>Arrives: </b><span th:text="${Flight.get(i).getDestinationName()}"></span> @ <span
                                        th:text="${Flight.get(i).getArrivalString()}"></span></p>
                                <p><b>Airline: </b><span th:text="${Flight.get(i).getAirlineCode()}"></span></p>
                                <div th:if="${Flight.get(i).getStopoverCode() != null}">
                                    <p><b>Via: </b><span th:text="${Flight.get(i).getStopoverCode()}"></span></p>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <style>#chartdiv {
                                    width: 100%;
                                    height: 200px;
                                }
                                </style>
                                <div th:id="'chartdiv'+${i}"></div>
                            </div>
                        </div>

                        <p><b>Available Seats on <span th:text="${Flight.get(i).getFlightNumber()}"></span></b></p>
                        <div class="accordion" th:id="'accordionExample'+${i}">
                            <div class="accordion-item">
                                <h2 class="accordion-header" th:id="'headingFC'+${i}">
                                    <button aria-expanded="false" class="accordion-button" data-bs-toggle="collapse"
                                            th:aria-controls="'collapseFC'+${i}" th:data-bs-target="'#collapseFC'+${i}"
                                            type="button">
                                        First Class
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                                     th:aria-labelledby="'headingFC'+${i}" th:id="'collapseFC'+${i}">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-4" th:each="availSeats:${firstClass.get(i)}"
                                                 th:id="'firSeatsAvail'+${i}">
                                                <p>
                                                    <b>Ticket Type: </b><span th:text="${availSeats[0]}"></span></br>
                                                    <b>Number of Seats Available: </b><span
                                                        th:text="${availSeats[1]}"></span></br>
                                                    <b>Price per Seat: </b><span
                                                        th:text="'$' + ${availSeats[3]}"></span></br>
                                                </p>
                                                <span th:if="${availSeats[0] == 'Standard'}">
                                                <select th:class="${i}" th:data="${availSeats[3]}"
                                                        th:id="'firStandard'+${i}"
                                                        th:name="'bookingRequest['+${i}+'].firStandard'">
                                                    <option selected value="">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Platinum'}">
                                                <select th:class="${i}" th:data="${availSeats[3]}"
                                                        th:id="'firPlatinum'+${i}"
                                                        th:name="'bookingRequest['+${i}+'].firPlatinum'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Long Distance'}">
                                                <select th:class="${i}" th:data="${availSeats[3]}"
                                                        th:id="'firLongDistance'+${i}"
                                                        th:name="'bookingRequest['+${i}+'].firLongDistance'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Standby'}">
                                                <select th:class="${i}" th:data="${availSeats[3]}"
                                                        th:id="'firStandby'+${i}"
                                                        th:name="'bookingRequest['+${i}+'].firStandby'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Premium Discounted'}">
                                                <select th:class="${i}" th:data="${availSeats[3]}"
                                                        th:id="'firPremDisc'+${i}"
                                                        th:name="'bookingRequest['+${i}+'].firPremDisc'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Discounted'}">
                                                <select th:class="${i}" th:data="${availSeats[3]}"
                                                        th:id="'firDiscounted'+${i}"
                                                        th:name="'bookingRequest['+${i}+'].firDiscounted'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                <span th:if="${availSeats[0] == 'Premium'}">
                                                <select th:class="${i}" th:data="${availSeats[3]}"
                                                        th:id="'firPremium'+${i}"
                                                        th:name="'bookingRequest['+${i}+'].firPremium'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" th:id="'headingBC'+${i}">
                                        <button aria-expanded="false" class="accordion-button" data-bs-toggle="collapse"
                                                th:aria-controls="'collapseBC'+${i}" th:data-bs-target="'#collapseBC'+${i}"
                                                type="button">
                                            Business Class
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                                         th:aria-labelledby="'headingBC'+${i}" th:id="'collapseBC'+${i}">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-md-4" th:each="availSeats:${businessClass.get(i)}">
                                                    <p>
                                                        <b>Ticket Type: </b><span
                                                            th:text="${availSeats[0]}"></span></br>
                                                        <b>Number of Seats Available: </b><span
                                                            th:text="${availSeats[1]}"></span></br>
                                                        <b>Price per Seat: </b><span
                                                            th:text="'$' + ${availSeats[3]}"></span></br>
                                                    </p>
                                                    <span th:if="${availSeats[0] == 'Standard'}">
                                                <select th:class="${i}" th:data="${availSeats[3]}"
                                                        th:id="'busStandard'+${i}"
                                                        th:name="'bookingRequest['+${i}+'].busStandard'">
                                                    <option selected value="">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Platinum'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'busPlatinum'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].busPlatinum'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Long Distance'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'busLongDistance'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].busLongDistance'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Standby'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'busStandby'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].busStandby'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Premium Discounted'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'busPremDisc'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].busPremDisc'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Discounted'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'busDiscounted'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].busDiscounted'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Premium'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'busPremium'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].busPremium'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" th:id="'headingOne'+${i}">
                                        <button aria-expanded="false" class="accordion-button" data-bs-toggle="collapse"
                                                th:aria-controls="'collapseOne'+${i}" th:data-bs-target="'#collapseOne'+${i}"
                                                type="button">
                                            Premium Economy
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                                         th:aria-labelledby="'headingOne'+${i}" th:id="'collapseOne'+${i}">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-md-4" th:each="availSeats:${premiumEconomy.get(i)}">
                                                    <p>

                                                        <b>Ticket Type: </b><span
                                                            th:text="${availSeats[0]}"></span></br>
                                                        <b>Number of Seats Available: </b><span
                                                            th:text="${availSeats[1]}"></span></br>
                                                        <b>Price per Seat: </b><span
                                                            th:text="'$' + ${availSeats[3]}"></span></br>
                                                    </p>
                                                    <span th:if="${availSeats[0] == 'Standard'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'pmeStandard'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].pmeStandard'">
                                                    <option selected value="">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Platinum'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'pmePlatinum'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].pmePlatinum'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Long Distance'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'pmeLongDistance'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].pmeLongDistance'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Standby'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'pmeStandby'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].pmeStandby'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Premium Discounted'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'pmePremDisc'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].pmePremDisc'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Discounted'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'pmeDiscounted'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].pmeDiscounted'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Premium'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'pmePremium'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].pmePremium'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" th:id="'headingEconomy'+${i}">
                                        <button aria-expanded="false" class="accordion-button" data-bs-toggle="collapse"
                                                th:aria-controls="'collapseEconomy'+${i}" th:data-bs-target="'#collapseEconomy'+${i}"
                                                type="button">
                                            Economy
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                                         th:aria-labelledby="'headingEconomy'+${i}" th:id="'collapseEconomy'+${i}">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-md-4" th:each="availSeats:${economyClass.get(i)}">
                                                    <p>
                                                        <b>Ticket Type: </b><span
                                                            th:text="${availSeats[0]}"></span></br>
                                                        <b>Number of Seats Available: </b><span
                                                            th:text="${availSeats[1]}"></span></br>
                                                        <b>Price per Seat: </b><span th:id="'ecoSeatPrice'+${i}"
                                                                                     th:text="${availSeats[3]}"></span></br>
                                                    </p>
                                                    <span th:if="${availSeats[0] == 'Standard'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'ecoStandard'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].ecoStandard'">
                                                    <option selected value="">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Platinum'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'ecoPlatinum'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].ecoPlatinum'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Long Distance'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'ecoLongDistance'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].ecoLongDistance'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Standby'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'ecoStandby'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].ecoStandby'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Premium Discounted'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'ecoPremDisc'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].ecoPremDisc'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Discounted'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'ecoDiscounted'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].ecoDiscounted'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                    <span th:if="${availSeats[0] == 'Premium'}">
                                                 <select th:class="${i}" th:data="${availSeats[3]}"
                                                         th:id="'ecoPremium'+${i}"
                                                         th:name="'bookingRequest['+${i}+'].ecoPremium'">
                                                    <option selected value="0">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                </div>

                <p><b>Total Seats: </b><span th:id="'totalSeats'">0</span></p>
                <p th:id="'showTotal'"><b>Total Cost:</b> $<span th:id="'cost'">0</span></p>
                <p id="error" style="display: none; color: red">Please select the same number of tickets on each leg.
                    <br/><br/></p>
                <div th:if="${usr.isLoggedIn()} != false">
                    <button class="btn btn-primary" id="submitter" type="submit">Add to Cart</button>
                </div>
                <div th:if="${usr.isLoggedIn()} == false">
                    <a class="btn btn-success" th:href="@{'/login?redirect=stopoverFlight?id=' + ${ID}}" type="submit">Login
                        to Book</a><Br><Br>
                </div>

                <br><br>
            </form>

            <hr/>
            <Br><Br>
            <div class="row">
                <div class="col-md-6" style="padding-left: 20px; ">
                    <div class="section-title" data-aos="zoom-out">
                        <h2>Premium Experience</h2>
                        <p>What To Expect With QANTAS</p>
                    </div>
                    <p>
                        Qantas' Fly Well program brings together a number of wellbeing measures to give you
                        peace-of-mind from takeoff to touchdown.
                        <br><br>
                        Fly away knowing the safety, health and wellbeing of customers and people is and always will be,
                        the highest priority. Thanks for respecting each other and our team, and helping to create a
                        positive environment for everyone.
                        <br><br>
                        Note: products and services featured may vary at airport locations.
                    </p>
                </div>
            </div>
            <hr/>
        </div>
    </section>
    <!-- End Cta Section -->
    <!-- ======= Footer ======= -->
    <lower th:replace="Fragments/Footer"></lower>
    <!-- Template Main JS File -->
</main>
</body>
<script th:inline="javascript">

    function updatePrice() {
        let seats = 0;
        let price = 0;
        $('select').each(function () {
            price += ($(this).val() * 1) * ($(this).attr('data') * 1);
            seats += ($(this).val() * 1);
        })
        price = Math.round((price + Number.EPSILON) * 100) / 100

        $('#cost').html(price);
        $('#totalSeats').html(seats);
    }

    $('select').on('change', function () {
        let seats = 0;
        let price = 0;
        $('select').each(function () {
            price += ($(this).val() * 1) * ($(this).attr('data') * 1);
            seats += ($(this).val() * 1);
        })
        price = Math.round((price + Number.EPSILON) * 100) / 100

        $('#cost').html(price);
        $('#totalSeats').html(seats);
    });

    $('#submitter').on('click', function () {
        seats = [];
        for (var i = 0; i < 5; i++) {
            if ($('.' + i).length == 0) {
                continue;
            }
            seats[i] = 0;
            $('.' + i).each(function () {
                seats[i] += ($(this).val() * 1);
            });
        }

        const result = seats.every(element => {
            if (element === seats[0] && seats[0] > 0) {
                return true;
            }
        });

        if (!result) {
            $('#error').css('display', 'inline');
        }
        return result;
    });


    $(document).ready(updatePrice());

</script>

</html>

